<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <div class="page">
        <div class="logo">
            <a href="home"><img src="/img/img4.png" alt="Logo"></a>
            <a href="/"><span>ออกจากระบบ</span></a>
            <!-- <a href="login"><span>เข้าสู่ระบบ</span></a>
            <a href="register"><span>&nbsp;&nbsp; สมัครสมาชิก</span></a> -->
        </div>
        <div class="menu">
            <a href="home">หน้าหลัก</a>
            <a href="about">ผลงาน</a>
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="estimate">ประเมินการบริการ</a>
            <a href="review">รีวิว</a>
            <a href="contack">ติดต่อเรา</a>
            <!-- <a href="#">ค้นหา</a> -->
        </div>
    </div>

    <div class="header">
        <h1>ผลงาน</h1>
    </div>

    <div class="layout">
        <!-- <div id="stick1">Sticky note 1</div> -->
        <div id="sticky2"></a></div>
        <div id="sticky3"></a></div>
    </div>

    <div class="layout">
        <!-- <div id="stick1">Sticky note 1</div> -->
        <div id="sticky4"></a></div>
        <div id="sticky5"></a></div>
    </div>

    <div class="layout">
        <!-- <div id="stick1">Sticky note 1</div> -->
        <div id="sticky6"></a></div>
        <div id="sticky7"></a></div>
    </div>

    <div class="layout">
        <!-- <div id="stick1">Sticky note 1</div> -->
        <div id="sticky8"></a></div>
        <div id="sticky9"></a></div>
    </div>

    <div class="layout">
        <!-- <div id="stick1">Sticky note 1</div> -->
        <div id="sticky10"></a></div>
        <div id="sticky11"></a></div>
    </div>

    <div class="footer-main">
        <p>ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
        <p>รับว่าความทั่วราชอาณาจักร</p>
        <p>Tel : 081-950-5859</p>

        <div class="menu">
            <a href="home">หน้าหลัก</a> |
            <a href="about">ผลงาน</a>
            <!-- <a href="#">บริการ</a> -->
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="contack">ติดต่อเรา</a>
        </div>

        <div class="social-icons">
            <a href="https://www.facebook.com/mr.apisit.siriposop?locale=th_TH"><img src="/img/facebook.jpg" alt="Facebook"></a>
            <a href="https://line.me/ti/p/5mO_CErwea"><img src="/img/line.jpg" alt="Line"></a>
        </div>
    </div>

   <div class="footer">
        <p>&copy; ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
    </div>
    
</body>
</html>