<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article5</title>
    <link rel="stylesheet" href="/css/article5.css">
</head>
<body>
    <div class="page">
        <div class="logo">
            <a href="home"><img src="img/img4.png" alt="Logo"></a>
            <a href="/"><span>ออกจากระบบ</span></a>
            <!-- <a href="login.html"><span>เข้าสู่ระบบ</span></a>
            <a href="register.html"><span>&nbsp;&nbsp; สมัครสมาชิก</span></a> -->
        </div>
        <div class="menu">
            <a href="home">หน้าหลัก</a> 
            <a href="about">ผลงาน</a>
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="estimate">ประเมินการบริการ</a>
            <a href="review">รีวิว</a>
            <a href="contack">ติดต่อเรา</a>
            <!-- <a href="#">ค้นหา</a> -->
        </div>
    </div>
    <div class="col-1">
        <h1>ฟ้องชู้</h1>
        <img src="img/46.jpg">
        <h3>ฟ้องชู้มีเรียกร้องอะไรได้บ้าง <br> และจะต้องเตรียมหลักฐานอะไรบ้าง</h3>
    </div>
    <div class="text">
       <h3>กรณีสามี ฟ้องชายชู้ คือ สามีฟ้องเพื่อเรียกค่าทดแทนจากชายชู้หรือชายอื่นในฐานะที่ชายชู้หรือชายอื่น นั้นล่วงเกินภรรยาในทำนองชู้สาวได้เท่านั้น โดยไม่จำต้องฟ้องหย่าก่อน และ</h3>
       <h3>กรณีภรรยา ฟ้องหญิงชู้ (ฟ้องเมียน้อย) คือ ภรรยาฟ้องเพื่อเรียกค่าทดแทนจากหญิงชู้ หรือ ภรรยาน้อยที่แสดงตนโดยเปิดเผยเพื่อแสดงว่ามีความสัมพันธ์กับสามีในทำนองชู้สาวได้ โดยไม่จำต้องฟ้องหย่าก่อน</h3>
       <h3 style="color: red;">ต่อไป…เราจะมาดูเรื่องการเตรียมเอกสารหลักฐานสำหรับการฟ้องชู้กันครับ</h3>
       <h3 style="color: blue;">หลักฐานสำหรับการฟ้องชู้ ที่จะต้องเตรียมมีอะไรบ้าง ?</h3>
       <li>1. สำเนาใบสำคัญการสมรส</li>
       <li>2. สำเนาบัตรประจำตัวประชาชนของผู้ฟ้องคดี</li>
       <li>3. สำเนาใบเปลื่ยนชื่อของเรา หรือของคู่สมรส</li>
       <li>4. ทะเบียนบ้านของผู้ฟ้องคดี</li>
       <li>5. สูติบัตร (เฉพาะในกรณีมีบุตรด้วยกัน)</li>
       <li>6. หลักฐานเกี่ยวกับอาชีพรายได้ของเราและคู่สมรส เช่น สลิปเงินเดือน หนังสือรับรองเงินเดือน</li>
       <li>7. หลักฐานเกี่ยวกับวุฒิการศึกษาของเราและคู่สมรส เช่น สำเนาใบปริญญาบัตร</li>
       <li>8. หลักฐานเกี่ยวกับการมีฐานะทางสังคมของเราและคู่สมรส เช่น การดำรงตำแหน่งนักการเมือง การประกอบอาชีพดารา หรืออาชีพที่มีคนรู้จักเป็นจำนวนมาก</li>
       <li>9. หลักฐานเกี่ยวกับการจัดงานแต่งงาน</li>
       <h3 style="color: blue;">หลักฐานเกี่ยวกับการเป็นชู้</h3>
       <li>1. หลักฐานการสนทนาระหว่างชู้กับคู่สมรสทางโทรศัพท์มือถือ แอปพลิเคชั่นไลน์ เว็บไซด์เฟซบุ๊ก แอพพลิเคชั่นหาคู่ ฯลฯ ๆ</li>
       <li>2. หลักฐานรูปคู่ วิดีโอ ภาพถ่ายที่ได้จาการสืบชู้ ที่แสดงให้เห็นว่าตัวชู้กับคู่สมรส มีความสัมพันธ์กัน</li>
       <li>3. หลักฐานการเดินทางไปสถานที่ต่างๆ ของคู่สมรส เช่น ใบเสร็จค่าที่พัก หลักฐานบันทึกการเดินทางจาก Google Map</li>
       <li>4. หลักฐานการซื้อทรัพย์สินให้กันระหว่างชู้กับคู่สมรส</li>
       <li>5. หลักฐานการโอนเงินให้กันระหว่างชู้กับคู่สมรส</li>
       <li>6. ข้อมูลการใช้โทรศัพท์ติดต่อกัน</li>
       <li>7. หลักฐานการถ่ายรูปของชู้ที่เป็นรูปเดี่ยว แต่อยู่ในสถานที่ของคู่สมรส หรือถ่ายรูปติดทรัพย์สินของคู่สมรส</li>
       <li>8. พยานบุคคลที่รู้เห็นการเป็นชู้</li>
       <li>9. อื่น ๆ ที่เกี่ยวข้อง</li>
       <h3>ทั้งนี้ หลักฐานการเป็นชู้ ไม่จำเป็นต้องถึงขั้นแสดงว่าชู้กับคู่สมรสมีเพศสัมพันธ์กัน</h3>
       <h3 style="color: red;">เตรียมหลักฐานเรียบร้อยแล้ว ก็สามารถเข้าปรึกษาทนายความเพื่อที่จะทำเรื่องฟ้องร้องคดีได้เลยครับ</h3>
    </div>

    <div class="footer-main">
        <p>ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
        <p>รับว่าความทั่วราชอาณาจักร</p>
        <p>Tel : 081-950-5859</p>

        <div class="menu">
            <a href="home">หน้าหลัก</a> |
            <a href="about">ผลงาน</a>
            <!-- <a href="#">บริการ</a> -->
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="contack">ติดต่อเรา</a>
        </div>

        <div class="social-icons">
            <a href="https://www.facebook.com/mr.apisit.siriposop?locale=th_TH"><img src="/img/facebook.jpg" alt="Facebook"></a>
            <a href="https://line.me/ti/p/5mO_CErwea"><img src="/img/line.jpg" alt="Line"></a>
        </div>
    </div>
    <div class="footer">
        <p>&copy; ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
    </div>
</body>
</html>