<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article9</title>
    <link rel="stylesheet" href="/css/article9.css">
</head>
<body>
    <div class="page">
        <div class="logo">
            <a href="home"><img src="img/img4.png" alt="Logo"></a>
            <a href="/"><span>ออกจากระบบ</span></a>
            <!-- <a href="login.html"><span>เข้าสู่ระบบ</span></a>
            <a href="register.html"><span>&nbsp;&nbsp; สมัครสมาชิก</span></a> -->
        </div>
        <div class="menu">
            <a href="home">หน้าหลัก</a> 
            <a href="about">ผลงาน</a>
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="estimate">ประเมินการบริการ</a>
            <a href="review">รีวิว</a>
            <a href="contack">ติดต่อเรา</a>
            <!-- <a href="#">ค้นหา</a> -->
        </div>
    </div>
    <div class="col-1">
        <h1 style="color: blue;">ผู้จัดการมรดก มีหน้าที่อะไรบ้าง ?</h1>
        <img src="img/49.jpg">
        <h1 style="color: red;">ผู้จัดการมรดก</h1>
    </div>
    <div class="text">
        <h3>ผู้จัดการมรดก หมายถึงใคร</h3>
        <h3> ผู้จัดการมรดก ไม่จำเป็นต้องเป็นทายาทของเจ้ามรดกจะเป็นใครก็ได้ แต่ผู้ที่มีสิทธิยื่นคำร้องขอให้ศาลมีคำสั่งตั้งผู้จัดการมรดก ต้องเป็นทายาทโดยชอบธรรมของเจ้ามรดก เช่น ผู้สืบสันดาน, บิดา มารดา, พี่น้องร่วมบิดามารดาเดียวกัน , คู่สมรส (ที่ทำการจดทะเบียนสมรสแล้ว) หรือ จะเป็นบุคคลภายนอกก็ได้ แต่ต้องมีส่วนได้เสียร่วมกัน เช่น เจ้าของร่วมทรัพย์สิน , ภรรยา หรือ สามี (ที่ไม่ได้จดทะเบียนสมรส) แต่มีทรัพย์สินที่เกิดจากการทำมาหาได้ร่วมกัน ถือว่าเป็น “เจ้าของร่วมกัน” และมีส่วนในทรัพย์สินเหล่านั้นคนละครึ่งเท่ากัน</h3>
        <h3 style="color: red;"> หรือ หากมีพินัยกรรม ก็ให้เป็นไปตามที่พินัยกรรมได้ระบุไว้ แต่ทั้งนี้ศาลก็ไม่จำเป็นต้องตั้งผู้จัดการมรดกตามพินัยกรรมระบุไว้ได้ด้วยเช่นกัน อาจตั้งทายาทหรือผู้มีส่วนได้เสียคนอื่นที่เหมาะสมกว่าก็ได้ และการจัดตั้งผู้จัดการมรดกไม่จำเป็นต้องแต่งตั้งขึ้นมาแค่เพียงคนเดียวด้วย สามารถตั้งหลายคนได้ เว้นแต่ จะมีข้อกำหนดในพินัยกรรมเป็นอย่างอื่น ที่สามารถให้ผู้จัดการมรดกคนใดคนหนึ่งสามารถเป็นผู้ดำเนินการเพียงลำพังได้ ในขณะที่ผู้จัดการคนอื่นไม่สะดวก</h3>
        <h3>บุคคลใดไม่สามารถเป็นผู้จัดการมรดกได้</h3>
        <h3>   มาตรา 1718 บุคคลต่อไปนี้จะเป็นผู้จัดการมรดกไม่ได้</h3>
        <li>(1) ผู้ซึ่งยังไม่บรรลุนิติภาวะ</li>
        <li>(2) บุคคลวิกลจริต หรือบุคคลซึ่งศาลสั่งให้เป็นผู้เสมือนไร้ความสามารถ</li>
        <li> (3) บุคคลซึ่งศาลสั่งให้เป็นคนล้มละลาย</li>
        <h3 style="color: red;">มรดก หมายถึงอะไร</h3>
        <h3>มาตรา 1600 “ภายใต้บังคับของบทบัญญัติแห่งประมวลกฎหมายนี้ กองมรดกของผู้ตายได้แก่ทรัพย์สินทุกชนิดของผู้ตาย ตลอดทั้งสิทธิหน้าที่และความรับผิดต่าง ๆ เว้นแต่ตามกฎหมายหรือว่าโดยสภาพแล้ว เป็นการเฉพาะตัวของผู้ตายโดยแท้”</h3>
        <h3>เช่น กรรมสิทธิ์ในที่ดิน รถยนต์ ห้องชุด สิทธิการเช่าซื้อ ทรัพย์สินต่าง ๆ เงินฝากในธนาคาร เป็นต้น ซึ่งพอแยกอธิบายได้ดังนี้</h3>
        <li>1. ทรัพย์สิน หมายถึง บ้าน ที่ดิน รถยนต์ ทรัพย์สินทางปัญญา สิทธิบัตร ลิขสิทธิ์เพลง ฯลฯ</li>
        <li>2. สิทธิ หมายถึง สิทธิต่าง ๆ ของเจ้ามรดกที่มีอยู่ก่อนตาย เช่น สิทธิเช่าซื้อ สิทธิเจ้าหนี้กู้ยืม สิทธิเรียกร้องค่าชดเชยตามกฎหมายแรงงาน เป็นต้น</li>
        <li>3. หน้าที่ความรับผิดชอบ หมายถึง หนี้ ที่เจ้ามรดกก่อขึ้นก่อนเสียชีวิต เช่น หนี้กู้ยืมเงิน หนี้ค้ำประกัน อย่างไรก็ตามทายาทไม่ต้องรับผิดเกินกว่าทรัพย์มรดกที่ได้รับ</li>
        <h3 style="color: blue;"> ข้อสังเกต : เงินประกันชีวิต ไม่ถือเป็นทรัพย์มรดก เนื่องจากเจ้ามรดกได้มาหลังเสียชีวิตแล้ว อีกทั้งยังหมายความรวมถึงเงินช่วยค่าทำศพ เงินฌาปนกิจสงเคราะห์</h3>
        <h1 style="color: red;">หน้าที่ของผู้จัดการมรดก มีอะไรบ้าง ?</h1>
        <h3> เริ่มนับตั้งแต่วันที่ได้ฟังหรือถือว่าได้ฟังคำสั่งศาลแล้ว ผู้จัดการมรดกมีสิทธิและหน้าที่ที่จะทำการอันจำเป็นเพื่อจัดการมรดกโดยทั่วไปและมีหน้าที่รวบรวมทรัพย์มรดกเพื่อแบ่งให้ทายาทโดยธรรมหรือผู้รับพินัยกรรม ตลอดจนชำระหนี้สินของเจ้ามรดกแก่เจ้าหนี้ ทำบัญชีทรัพย์มรดก และทำรายการแสดงบัญชีการจัดการและแบ่งมรดก โดยต้องจัดการไปในทางที่เป็นประโยชน์แก่มรดก จะทำนิติกรรมใด ๆ ที่เป็นปรปักษ์ต่อกองมรดกไม่ได้</h3>
        <h3> หากผู้จัดการมรดกละเลยไม่ทำการตามหน้าที่ เช่น ปิดบังมรดกต่อทายาท หรือเบียดบังเป็นของตน หรือเพิกเฉยไม่แบ่งมรดกให้แก่ทายาท ทายาทผู้มีสิทธิรับมรดกหรือผู้มีส่วนได้เสียจะร้องขอให้ศาลมีคำสั่งถอนผู้จัดการมรดก เพราะเหตุผู้จัดการมรดกละเลยไม่ทำตามหน้าที่หรือเพราะเหตุอย่างอื่นที่สมควรก็ได้ และอาจมีความผิดอาญามีโทษจำคุกได้</h3>
        <h3 style="color: blue;">ประมวลกฎหมายแพ่งและพาณิชย์</h3>
        <h3>มาตรา 1719 ผู้จัดการมรดกมีสิทธิและหน้าที่ที่จะทำการอันจำเป็น เพื่อให้การเป็นไปตามคำสั่งแจ้งชัดหรือโดยปริยายแห่งพินัยกรรม และเพื่อจัดการมรดกโดยทั่วไป หรือเพื่อแบ่งปันทรัพย์มรดก</h3>
        <h3>มาตรา 1720 ผู้จัดการมรดกต้องรับผิดต่อทายาทตามที่บัญญัติไว้ในมาตรา 809 ถึง 812, 819, 823 แห่งประมวลกฎหมายนี้โดยอนุโลม และเมื่อเกี่ยวกับบุคคลภายนอก ให้ใช้มาตรา 831 บังคับโดยอนุโลม</h3>
        <h3>มาตรา 1721 ผู้จัดการมรดกไม่มีสิทธิที่จะได้รับบำเหน็จจากกองมรดก เว้นแต่พินัยกรรม หรือทายาทโดยจำนวนข้างมากจะได้กำหนดให้ไว้</h3>
        <h3>มาตรา 1722 ผู้จัดการมรดกจะทำนิติกรรมใด ๆ ซึ่งตนมีส่วนได้เสียเป็นปฏิปักษ์ต่อกองมรดกหาได้ไม่ เว้นแต่พินัยกรรมจะได้อนุญาตไว้ หรือได้รับอนุญาตจากศาล</h3>    </div>
        <h3>มาตรา 1723 ผู้จัดการมรดกต้องจัดการโดยตนเอง เว้นแต่จะทำการโดยตัวแทนได้ตามอำนาจที่ให้ไว้ชัดแจ้งหรือโดยปริยายในพินัยกรรม หรือโดยคำสั่งศาล หรือในพฤติการณ์เพื่อประโยชน์แก่กองมรดก</h3>
        <h3>มาตรา 1724 ทายาทย่อมมีความผูกพันต่อบุคคลภายนอกในกิจการทั้งหลายอันผู้จัดการมรดกได้ทำไปภายในขอบอำนาจในฐานะที่เป็นผู้จัดการมรดก  ถ้าผู้จัดการมรดกเข้าทำนิติกรรมกับบุคคลภายนอก โดยเห็นแก่ทรัพย์สินอย่างใด ๆ หรือประโยชน์อย่างอื่นใด อันบุคคลภายนอกได้ให้ หรือได้ให้คำมั่นว่าจะให้เป็นลาภส่วนตัว ทายาทหาต้องผูกพันไม่ เว้นแต่ทายาทจะได้ยินยอมด้วย</h3>
        <h3>มาตรา 1725 ผู้จัดการมรดกต้องสืบหาโดยสมควรซึ่งตัวผู้มีส่วนได้เสียและแจ้งไปให้ทราบถึงข้อกำหนดพินัยกรรมที่เกี่ยวกับผู้มีส่วนได้เสียนั้นภายในเวลาอันสมควร</h3>
        <h3>มาตรา 1726 ถ้าผู้จัดการมรดกมีหลายคน การทำการตามหน้าที่ของผู้จัดการมรดกนั้นต้องถือเอาเสียงข้างมาก เว้นแต่จะมีข้อกำหนดพินัยกรรมเป็นอย่างอื่น ถ้าเสียงเท่ากัน เมื่อผู้มีส่วนได้เสียร้องขอ ก็ให้ศาลเป็นผู้ชี้ขาด</h3>
        <h3>มาตรา 1727 ผู้มีส่วนได้เสียคนหนึ่งคนใดจะร้องขอให้ศาลสั่งถอนผู้จัดการมรดก เพราะเหตุผู้จัดการมรดกละเลยไม่ทำการตามหน้าที่ หรือเพราะเหตุอย่างอื่นที่สมควรก็ได้ แต่ต้องร้องขอเสียก่อนที่การปันมรดกเสร็จสิ้นลง แม้ถึงว่าจะได้เข้ารับตำแหน่งแล้วก็ดี ผู้จัดการมรดกจะลาออกจากตำแหน่งโดยมีเหตุอันสมควรก็ได้ แต่ต้องได้รับอนุญาตจากศาล</h3>
        <h3>มาตรา 1728 ผู้จัดการมรดกต้องลงมือจัดทำบัญชีทรัพย์มรดกภายในสิบห้าวัน</h3>
        <li style="margin: 20px 90px;">(1) นับแต่เจ้ามรดกตาย ถ้าในขณะนั้นผู้จัดการมรดกได้รู้ถึงการตั้งแต่งตามพินัยกรรมที่มอบหมายไว้แก่ตน หรือ</li>
        <li style="margin: 20px 90px;">(2) นับแต่วันที่เริ่มหน้าที่ผู้จัดการมรดกตามมาตรา 1726 ในกรณีที่ศาลตั้งเป็นผู้จัดการมรดก หรือ</li>
        <li style="margin: 20px 90px;">(3) นับแต่วันที่ผู้จัดการมรดกรับเป็นผู้จัดการมรดกในกรณีอื่น</li>
        <h3>มาตรา 1729 ผู้จัดการมรดกต้องจัดทำบัญชีทรัพย์มรดกให้แล้วเสร็จภายในหนึ่งเดือนนับแต่เวลาที่ระบุไว้ในมาตรา 1728 แต่กำหนดเวลานี้ เมื่อผู้จัดการมรดกร้องขอก่อนสิ้นกำหนดเวลาหนึ่งเดือน ศาลจะอนุญาตให้ขยายต่อไปอีกก็ได้    บัญชีนั้นต้องทำต่อหน้าพยานอย่างน้อยสองคน ซึ่งต้องเป็นผู้มีส่วนได้เสียในกองมรดกนั้นด้วยบุคคลซึ่งจะเป็นพยานในการทำพินัยกรรมไม่ได้ตามมาตรา 1670 จะเป็นพยานในการทำบัญชีใด ๆ ที่ต้องทำขึ้นตามบทบัญญัติแห่งประมวลกฎหมายนี้ไม่ได้</h3>
        <h3>มาตรา 1731 ถ้าผู้จัดการมรดกมิได้จัดทำบัญชีภายในเวลาและตามแบบที่กำหนดไว้ หรือถ้าบัญชีนั้นไม่เป็นที่พอใจแก่ศาล เพราะความประมาทเลินเล่ออย่างร้ายแรง หรือการทุจริต หรือความไม่สามารถอันเห็นประจักษ์ของผู้จัดการมรดก ศาลจะถอนผู้จัดการมรดกเสียก็ได้</h3>
        <h3>มาตรา 1732 ผู้จัดการมรดกต้องจัดการตามหน้าที่และทำรายงานแสดงบัญชีการจัดการและแบ่งปันมรดกให้เสร็จภายในหนึ่งปีนับแต่วันที่ระบุไว้ในมาตรา 1728 เว้นแต่ผู้ทำพินัยกรรม ทายาทโดยจำนวนข้างมาก หรือศาลจะได้กำหนดเวลาให้ไว้เป็นอย่างอื่น</h3>
        <h3>มาตรา 1736 ตราบใดที่เจ้าหนี้กองมรดก หรือผู้รับพินัยกรรมที่ปรากฏตัว ยังไม่ได้รับชำระหนี้ หรือส่วนได้ตามพินัยกรรมแล้วทุกคน ให้ถือว่าทรัพย์มรดกยังคงอยู่ในระหว่างจัดการ</h3>
        <h3 style="color: red; text-align: center;">ติดต่อ ทนายอภิสิทธิ์ ศิริโพธิ์สพ รับว่าความทั่วราชอาณาจักร</h3>
        <h3 style="color: blue; text-align: center;">โทร : 0986216522</h3>
    <div class="footer-main">
        <p>ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
        <p>รับว่าความทั่วราชอาณาจักร</p>
        <p>Tel : 081-950-5859</p>

        <div class="menu">
            <a href="home">หน้าหลัก</a> |
            <a href="about">ผลงาน</a>
            <!-- <a href="#">บริการ</a> -->
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="contack">ติดต่อเรา</a>
        </div>

        <div class="social-icons">
            <a href="https://www.facebook.com/mr.apisit.siriposop?locale=th_TH"><img src="/img/facebook.jpg" alt="Facebook"></a>
            <a href="https://line.me/ti/p/5mO_CErwea"><img src="/img/line.jpg" alt="Line"></a>
        </div>
    </div>
    <div class="footer">
        <p>&copy; ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
    </div>
</body>
</html>