<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article3</title>
    <link rel="stylesheet" href="/css/article3.css">
</head>
<body>
    <div class="page">
        <div class="logo">
            <a href="home"><img src="img/img4.png" alt="Logo"></a>
            <a href="/"><span>ออกจากระบบ</span></a>
            <!-- <a href="login.html"><span>เข้าสู่ระบบ</span></a>
            <a href="register.html"><span>&nbsp;&nbsp; สมัครสมาชิก</span></a> -->
        </div>
        <div class="menu">
            <a href="home">หน้าหลัก</a> 
            <a href="about">ผลงาน</a>
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="estimate">ประเมินการบริการ</a>
            <a href="review">รีวิว</a>
            <a href="contack">ติดต่อเรา</a>
            <!-- <a href="#">ค้นหา</a> -->
        </div>
    </div>
    <div class="col-1">
        <h1>อายุความหนี้บัตรเครดิต</h1>
        <img src="img/44.jpg">
        <!-- <h3>หมิ่นประมาทผ่านสื่อสังคมออนไลน์ <br> ฟ้องเรียกค่าเสียหายเป็นเงินสด!ได้</h3> -->
    </div>
    <div class="text">
        <h1></h1>
        <h3> คดีแพ่ง ถึงแม้ว่าหนี้จะขาดอายุความแล้ว เจ้าหนี้ก็สามารถฟ้องร้องบังคับคดีได้ ตาม ป.พ.พ.มาตรา 193/9 ที่บัญญัติว่า “สิทธิเรียกร้องใดๆ ถ้ามิได้บังคับภายในระยะเวลาที่กฎหมายกำหนด สิทธิเรียกร้องนั้นเป็นอันขาดอายุความ” และ ป.พ.พ. มาตรา 193/10 “สิทธิเรียกร้องที่ขาดอายุความ ลูกหนี้มีสิทธิที่จะปฏิเสธการชำระหนี้ตามสิทธิเรียกร้องนั้นได้”</h3>
        <h3> การที่สิทธิเรียกร้อง หรือ หนี้ขาดอายุความ เป็นเพียงเหตุให้ลูกหนี้ปฎิเสธการชำระหนี้ได้เท่านั้น ไม่เป็นเหตุให้ทำให้หนี้นั้นระงับแต่อย่างใด เจ้าหนี้ยังคงมีสิทธิที่จะฟ้องร้องได้เสมอ โดยศาลไม่มีอำนาจที่จะพิพากษายกฟ้องได้</h3>
        <h3>มื่อถูกธนาคารหรือบริษัทบริหารสินทรัพย์ฟ้อง ลูกหนี้ต้องยกเหตุที่ขาดอายุความขึ้นเป็นข้อต่อสู้ในคำให้การ เพื่อปฎิเสธการชำระหนี้ตามฟ้อง ถ้าลูกหนี้ไม่ยกเหตุขาดอายุความขึ้นเป็นข้อต่อสู้ ไม่ว่าจะเพราะเหตุใดก็ตาม ศาลก็ไม่อาจยกเอาเหตุหนี้ขาดอายุความยกเป็นเหตุให้ยกฟ้องได้ ตาม ป.พ.พ.มาตรา 193/29 ที่บัญญัติว่า “เมื่อไม่ได้ยกอายุความขึ้นเป็นข้อต่อสู้ ศาลจะอ้างเอาอายุความมาเป็นเหตุยกฟ้องไม่ได้”</h3>
        <h3>ดังนั้น หนี้ที่ขาดอายุความ ไม่เป็นเหตุให้หนี้ระงับแต่อย่างใด แต่ถ้ายังเป็นหนี้กันอยู่ไม่ว่าจะผ่านไปกี่ปี แม้จะขาดอายุความหากยังไม่ชำระหนี้ให้แล้วเสร็จ ก็ยังคงเป็นหนี้กันตลอดไป</h3>
        <li>– หนี้บัตรเครดิต มีอายุความ 2 ปี</li>
        <li>– หนี้เบิกเงินเกินบัญชี เป็นสินเชื่อประเภท (OD) กับ บัญชีเดินสะพัด มีอายุความ 10 ปี</li>
        <li>– หนี้สินเชื่อส่วนบุคคล มีอายุความ 5 ปี</li>
        <li>– หนี้บัตรกดเงินสด / สินเชื่อเงินสด มีอายุความ 10 ปี (ไม่มีลักษณะเป็นการออกเงินทดรอง) คำพิพากษาศาลฎีกาที่ 9043/2554 และ ฎีกา 2922/2561</li>
        <li>– หนี้ตามสัญญาเช่าซื้อ มีอายุความ 2 ปี
            <li>– ค่าเช่าซื้อที่ค้างชำระ อายุความ 2 ปี</li>
            <li>– ค่าเสียหายจากการที่ผู้เช่าซื้อใช้ทรัพย์สิน อายุความ 6 เดือน</li>
            <li>– ค่าขาดราคา ค่าขาดประโยชน์ ค่าติดตาม เรียกให้ส่งคืนหรือใช้ราคาแทน อายุความ 10 ปี</li>
            <li>– การฟ้องติดตามเอารถนต์คืน ไม่มีอายุความ</li>
        </li>
        <li>– หนี้ตามสัญญากู้ยืม ที่มีการผ่อนต้นคืนพร้อมดอกบี้ยเป็นงวด ๆ มีอายุความ 5 ปี
            <li>1. ลูกหนี้ไม่มาชำระหนี้เลยนับแต่วันครบกำหนดชำระในงวดแรก การนับระยะเวลาเป็นวัน สัปดาห์ เดือน ปี มิให้นับวันแรกแห่งระยะเวลารวมเข้าด้วยกัน ตาม ป.พ.พ. มาตรา 193/3 วรรคสอง ดังนั้น อายุความในการฟ้องคดีจะเริ่มนับถัดจากวันที่ผิดนัดชำระหนี้งวดแรก และจะสิ้นสุดเมื่อครบกำหนด 5 ปี</li>
            <li>2. ลูกหนี้ที่มาชำระหนี้บางส่วน ไม่ว่าจะเป็นเงินต้น ดอกเบี้ย ดอกเบี้ยผิดนัด หรือ เบี้ยปรับ (ถ้ามี) อายุความในการฟ้องคดี ย่อมสะดุดหยุดลง และเมื่อเหตุที่ทำให้อายุความสะดุดหยุดลงสิ้นสุดเวลาใดให้เริ่มนับอายุความใหม่ตั้งแต่เวลานั้น คำว่า “ให้เริ่มนับอายุความใหม่ตั้งแต่เวลานั้น” หมายถึงให้เริ่มนับอายุความใหม่ในวันถัดจากวันที่ได้มีการกระทำอันเป็นเหตุให้อายุความสะดุดหยุดลง ตาม ป.พ.พ. มาตรา 193/14 และมาตรา 193/15 โดยเริ่มนับอายุความใหม่ตามอายุความของมูลหนี้เดิม คือ 5 ปี นับแต่วันที่มาชำระหนี้บางส่วนและจะสิ้นสุดเมื่อครบกำหนด 5 ปี</li>
        </li>
        <li> – การที่ลูกหนี้ทำหนังสือรับสภาพหนี้ ตาม ป.พ.พ. มาตรา 193/14
            <li>หนังสือรับสภาพหนี้ คือ หนังสือที่ลูกหนี้ทำให้แก่เจ้าหนี้ รับรองว่าต้นเป็นหนี้อยู่จริง ก่อนที่สิทธิเรียกร้องนั้นจะขาดอายุความ “การทำหนังสือรับสภาพหนี้” มีเหตุผลที่ทำขึ้น คือ เพื่อสงวนสิทธิ์ของฝ่ายเจ้าหนี้มิให้สิทธิเรียกร้องหนี้สินของตนต่อลูกหนี้นั้นต้องขาดอายุความ อีกเหตุผลที่ทำขึ้น คือ เพื่อสงวนสิทธิของฝ่ายเจ้าหนี้มิให้สิทธิเรียกร้องหนี้สินของตนต่อลูกหนี้นั้นต้องขาดอายุความ อีกเหตุผลหนึ่ง คือ ใช้เป็นหลักฐานที่ทำขึ้นในภายหลังเพื่อป้องกันปัญหาเพราะในขณะที่ทำนิติกรรมนั้น ทั้งสองฝ่ายไม่ได้ทำหนังสือ หรือ สัญญาใดๆ ไว้เป็นหลักฐานเลย สัญญารับสภาพหนี้อาจทำขึ้นเมื่อเจ้าหนี้กับลูกหนี้ เคยเป็นหนี้กันมาก่อน แต่ไม่มีหลักฐานในการเป็นหนี้กัน ก็มาตกลงทำหนังสือรับสภาพหนี้กันว่า เคยเป็นหนี้กันจำนวนเท่าใด จะชดใช้กันอย่างไร คิดดอกเบี้ยกันหรือไม่ ซึ่งการทำสัญญารับสภาพหนี้นี้จะทำให้หนี้ที่ไม่เคยมีหลักฐานแต่เดิมกลายเป็นหนี้ที่มีหลักฐานฟ้องร้องบังคับคดีกันได้ซึ่งเป็นประโยชน์กับเจ้าหนี้ อย่างไรก็ดี การรับสภาพหนี้จะต้องเกิดขึ้นภายในอายุความตามหนี้เดิมและเป็นผลให้อายุความสะดุดหยุดลงนับแต่วันที่ทำหนังสือรับสภาพหนี้ และเริ่มนับอายุความใหม่ตามมูลหนี้เดิม</li>

        </li>

        <h3 style="color: red;"> ในการเริ่มนับอายุความนั้น ให้นับจากวันที่ผิดนัดชำระครั้งสุดท้าย จนถึงวันที่ศาลประทับรับฟ้องคดี ฉนั้น แม้ว่าหนี้ขาดอายุความแล้ว เจ้าหนี้ยังฟ้องลูกหนี้ให้ชำระได้ตลอดเวลา</h3>

    </div>

    <div class="footer-main">
        <p>ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
        <p>รับว่าความทั่วราชอาณาจักร</p>
        <p>Tel : 081-950-5859</p>

        <div class="menu">
            <a href="home">หน้าหลัก</a> |
            <a href="about">ผลงาน</a>
            <!-- <a href="#">บริการ</a> -->
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="contack">ติดต่อเรา</a>
        </div>

        <div class="social-icons">
            <a href="https://www.facebook.com/mr.apisit.siriposop?locale=th_TH"><img src="/img/facebook.jpg" alt="Facebook"></a>
            <a href="https://line.me/ti/p/5mO_CErwea"><img src="/img/line.jpg" alt="Line"></a>
        </div>
    </div>
    <div class="footer">
        <p>&copy; ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
    </div>
</body>
</html>