<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article6</title>
    <link rel="stylesheet" href="/css/article6.css">
</head>
<body>
    <div class="page">
        <div class="logo">
            <a href="home"><img src="img/img4.png" alt="Logo"></a>
            <a href="/"><span>ออกจากระบบ</span></a>
            <!-- <a href="login.html"><span>เข้าสู่ระบบ</span></a>
            <a href="register.html"><span>&nbsp;&nbsp; สมัครสมาชิก</span></a> -->
        </div>
        <div class="menu">
            <a href="home">หน้าหลัก</a> 
            <a href="about">ผลงาน</a>
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="estimate">ประเมินการบริการ</a>
            <a href="review">รีวิว</a>
            <a href="contack">ติดต่อเรา</a>
            <!-- <a href="#">ค้นหา</a> -->
        </div>
    </div>
    <div class="col-1">
        <h1>สามีภริยาไม่ได้จดทะเบียนสมรส แยกทางกันทรัพย์สินเป็นของใคร ?</h1>
        <img src="img/47.png">
        <h3>ฟ้องชู้มีเรียกร้องอะไรได้บ้าง <br> และจะต้องเตรียมหลักฐานอะไรบ้าง</h3>
    </div>
    <div class="text">
      <h1 style="text-align: center;"> สามีภริยาที่ไม่ได้จดทะเบียนสมรสกัน</h1>
      <h3 style="color: red; text-align: center;">ไม่ถือว่าเป็นสามีภริยากันตามกฎหมาย!!!</h3>
      <h3> แต่อย่างไรก็ดี ทรัพย์สินที่ชายหญิงได้ลงทุน ร่วมแรง ทำมาหาได้ร่วมกันระหว่างที่อยู่กินกันนั้นถือว่าเป็น “เจ้าของร่วมกัน” และมีส่วนในทรัพย์สินเหล่านั้นคนละครึ่งเท่ากัน</h3>
      <h3> การลงทุน ร่วมแรง ทำมาหาได้ร่วมกัน ไม่จำเป็นต้องเป็นการลงทุนทำการค้า เช่น ชายไปทำงาน หญิงอยู่บ้านทำกับข้าว เลี้ยงลูก ดูแลครอบครัวก็ถือว่าเป็นการลงทุน ร่วมแรง ทำมาหาได้ร่วมกันแล้ว ทรัพย์สินที่สามีทำมาหาได้นั้น ก็ถือเป็นเจ้าของร่วมกัน แต่หากทรัพย์สินนั้นไม่ใช่ทรัพย์สินที่ทำมาหาได้ร่วมกัน เช่น มรดก กรณีนี้ เป็นทรัพย์ของฝ่ายที่ได้รับมรดกแต่เพียงผู้เดียวหรือเงินได้จากสลากกินแบ่งรัฐบาล เงินนี้ก็เป็นทรัพย์สินของฝ่ายที่ซื้อ สลาก ฯ แต่เพียงผู้เดียว เป็นต้น</h3>
      <h3>นอกจากนั้น กรณีชายแต่งงานกับชาย , หญิงแต่งงานกับหญิง มาอยู่กินร่วมกันฉันสามีภริยา ทรัพย์สินที่บุคคลทั้งสองทำมาหาได้ด้วยกัน ต้องถือว่าบุคคลทั้งสองมีส่วนเป็นเจ้าของร่วมกันเหมือนกัน ต้องแบ่งกันคนละครึ่ง</h3>
      <h3>ส่วนกรณีที่ชายมีภริยาอยู่แล้ว แต่มีภริยาน้อย ทรัพย์สินที่ชายกับภริยาน้อยทำมาหาได้ด้วยกันนั้นก็ต้องแบ่งกันคนละครึ่ง และครึ่งที่ชายแบ่งได้มาย่อมเป็นสินสมรสระหว่างชายกับภริยาที่ชอบด้วยกฎหมาย แต่การจะใช้หลักเกณฑ์นี้ได้นั้น ต้องปรากฏว่าชายกับภริยาน้อย ต้องอยู่คนละบ้านกับภริยาที่ชอบด้วยกฎหมาย คือ แบ่งกันเป็นส่วนสัด แต่หากปรากฏว่าภริยาน้อยมาอยู่บ้านเดียวกันกับสามีและภริยาที่ชอบด้วยกฎหมาย กรณีนี้ภริยาน้อยไม่มีส่วนในทรัพย์สินอะไรเลย</h3>
      <h1>ศึกษาคำพิพากษาศาลฎีกาเพิ่มเติมได้ดังนี้</h1>
      <h3>คำพิพากษาศาลฎีกาที่ 684/2508 โจทก์จำเลยแต่งงานกันตามประเพณีนิยม (ไม่ได้จดทะเบียนสมรส) อยู่กินกันฉันสามีภริยาทำมาหากินร่วมกัน มีทรัพย์สินเพิ่มขึ้น ทรัพย์สินที่เพิ่มขึ้นมานี้ย่อมเป็นของโจทก์จำเลยร่วมกัน จำเลยมีสิทธิขอแบ่งได้ครึ่งหนึ่ง</h3>
      <h3>คำพิพากษาศาลฎีกาที่ 5252/2533 โจทก์จำเลยต่างมีคู่สมรสอยู่ก่อนแล้ว ต่อมาได้มาอยู่กินฉันสามี ภริยาและช่วยกันประกอบอาชีพขับรถรับส่งผู้โดยสารทรัพย์สินที่ทำมาหาได้ในระหว่างนั้นเป็นของโจทก์และจำเลยร่วมกันคนละเท่า ๆ กัน โจทก์ย่อมมีสิทธิฟ้องขอแบ่งส่วนของโจทก์จากจำเลยได้ และแม้ทรัพย์สินดังกล่าวจะเกิดขึ้นในขณะที่โจทก์จำเลยอยู่ร่วมกันโดยยังมิได้ขาดจากการสมรสอยู่กับคู่สมรสเดิมก็หาเป็นเหตุขัดข้องในการขอแบ่งไม่ แต่ความสัมพันธ์ระหว่างโจทก์จำเลยหาใช่เป็นหุ้นส่วนตาม ป.พ.พ. มาตรา 1012 ไม่</h3>
      <h3>คำพิพากษาศาลฎีกาที่ 3075/2540 ซื้อที่ดินมาระหว่างอยู่กินด้วยกันฉันสามีภริยา ย่อมเป็นกรรมสิทธิ์รวม</h3>
      <h3>คำพิพากษาศาลฎีกาที่ 1242/2542 เมื่อปรากฏว่าจำเลยเป็นเจ้าของกรรมสิทธิ์บ้านพิพาทรวมกับโจทก์ที่ปลูกอยู่บนที่ดิน 2 แปลง ซึ่งมีรั้วล้อมรอบที่ดินโดยที่ดินแปลงหนึ่งจำเลยได้รับการยกให้จากมารดา อีกแปลงหนึ่งคือที่ดินพิพาท ซึ่งโจทก์ได้รับยกให้จากน้องชายจำเลยโดยมีข้อแลกเปลี่ยนให้โจทก์ยอมรับบุตรของน้องชายจำเลยเป็นบุตรของโจทก์ ตามพฤติการณ์ดังกล่าวแม้โจทก์จะมีชื่อเป็นเจ้าของกรรมสิทธิ์ในที่ดินพิพาทแต่ผู้เดียวก็ตาม แต่โจทก์ได้ที่ดินพิพาทมาในระหว่างที่อยู่กินฉันสามีภริยากับจำเลยโดยได้รับการยกให้จากน้องชายจำเลยด้วยความสัมพันธ์และข้อแลกเปลี่ยนระหว่างบุคคลในครอบครัว ทั้งสองฝ่ายได้ครอบครองร่วมกันมาระหว่างอยู่กินด้วยกัน ถือว่าที่ดินพิพาทเป็นทรัพย์ที่ทำมาหาได้ร่วมกัน โจทก์จำเลยจึงมีกรรมสิทธิ์ในที่ดินพิพาทร่วมกันคนละครึ่ง</h3>
      <h3>คำพิพากษาศาลฎีกาที่ 4355/2551 แม้ข้อที่ผู้ร้องเบิกความอ้างว่าผู้ร้องมีส่วนร่วมกับผู้ตายออกเงินซื้อรถยนต์พิพาทจะรับฟังไม่ได้ แต่ก็ได้ความว่าผู้ร้องแต่งงานอยู่กินฉันสามีภริยากับผู้ตายเมื่อปี 2535 และผู้ตายมีบุตรด้วยกัน 2 คน ระหว่างที่อยู่กินด้วยกันผู้ร้องทำงานที่บริษัท จ. ส่วนผู้ตายมีอาชีพทำเครื่องไฟ กรณีจึงถือว่าผู้ร้องและผู้ตายร่วมกันทำมาหากินและมีเจตนาเป็นเจ้าของในทรัพย์ที่หามาได้ในระหว่างอยู่กินด้วยกัน เมื่อผู้ตายได้รถยนต์พิพาทมาในระหว่างอยู่กินกับผู้ร้อง ผู้ร้องย่อมมีส่วนเป็นเจ้าของรถยนต์พิพาทด้วยในฐานะเจ้าของร่วม ผู้ร้องจึงมีส่วนได้เสียในรถยนต์ดังกล่าวซึ่งเป็นทรัพย์มรดกของผู้ตายและมีสิทธิร้องขอเป็นผู้จัดการมรดกของผู้ตาย</h3>
      <h3>คำพิพากษาศาลฎีกาที่ 1239/2554 ผู้มีส่วนได้เสียตามที่บัญญัติไว้ใน ป.พ.พ. มาตรา 1713 นั้นไม่จำเป็นต้องเป็นผู้มีส่วนได้เสียในฐานะทายาทโดยธรรมหรือในทางพินัยกรรมของผู้ตายโดยตรง แม้ผู้คัดค้านเป็นสามีไม่ชอบด้วยกฎหมายของผู้ตาย แต่ได้อยู่กินร่วมกันมานานสิบกว่าปีจนผู้ตายถึงแก่ความตาย โดยมีทรัพย์สินที่ทำมาหาได้ร่วมกัน โดยเฉพาะอย่างยิ่งผู้คัดค้านกับผู้ตายมีชื่อถือกรรมสิทธิ์ร่วมกันในที่ดินมีโฉนดรวม 3 แปลง ซึ่งผู้ร้องทั้งสองเบิกความรับว่า ผู้คัดค้านกับผู้ตายประกอบกิจการอู่ซ่อมรถยนต์ร่วมกัน โดยให้ผู้ร้องทั้งน้อง ๆ และหลาน ทำงานในอู่และรับเงินเดือนเป็นค่าจ้าง ผู้คัดค้านจึงเป็นผู้มีส่วนได้เสียตาม ป.พ.พ. มาตรา 1713 ในการตั้งผู้จัดการมรดกนั้นศาลย่อมใช้ดุลพินิจคำนึงถึงความเหมาะสมประกอบกับพฤติการณ์ที่จะให้ประโยชน์แก่ทายาทและกองมรดก เมื่อเห็นว่าการให้ผู้ร้องทั้งสองและผู้คัดค้านจัดการมรดกร่วมกันน่าจะเป็นประโยชน์แก่ทายาทและกองมรดก มากกว่าให้ฝ่ายใดฝ่ายหนึ่งจัดการมรดกฝ่ายเดียว ศาลย่อมตั้งให้เป็นผู้จัดการมรดกร่วมกันได้</h3>
      <h1 style="color: blue; text-align: center;">ฟ้องแบ่งกรรมสิทธิ์รวม</h1>
      <h1 style="color: blue; text-align: center;">กรณีสามีภริยาไม่ได้จดทะเบียนสมรส</h1>
      <h3 style="color: red; text-align: center;">ติดต่อ ทนายอภิสิทธิ์ ศิริโพธิ์สพ รับว่าความทั่วราชอาณาจักร</h3>
    </div>

    <div class="footer-main">
        <p>ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
        <p>รับว่าความทั่วราชอาณาจักร</p>
        <p>Tel : 081-950-5859</p>

        <div class="menu">
            <a href="home">หน้าหลัก</a> |
            <a href="about">ผลงาน</a>
            <!-- <a href="#">บริการ</a> -->
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="contack">ติดต่อเรา</a>
        </div>

        <div class="social-icons">
            <a href="https://www.facebook.com/mr.apisit.siriposop?locale=th_TH"><img src="/img/facebook.jpg" alt="Facebook"></a>
            <a href="https://line.me/ti/p/5mO_CErwea"><img src="/img/line.jpg" alt="Line"></a>
        </div>
    </div>
    <div class="footer">
        <p>&copy; ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
    </div>
</body>
</html>