<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article2</title>
    <link rel="stylesheet" href="/css/articlr2.css">
</head>
<body>
    <div class="page">
        <div class="logo">
            <a href="home"><img src="img/img4.png" alt="Logo"></a>
            <a href="/"><span>ออกจากระบบ</span></a>
            <!-- <a href="login.html"><span>เข้าสู่ระบบ</span></a>
            <a href="register.html"><span>&nbsp;&nbsp; สมัครสมาชิก</span></a> -->
        </div>
        <div class="menu">
            <a href="home">หน้าหลัก</a> 
            <a href="about">ผลงาน</a>
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="estimate">ประเมินการบริการ</a>
            <a href="review">รีวิว</a>
            <a href="contack">ติดต่อเรา</a>
            <!-- <a href="#">ค้นหา</a> -->
        </div>
    </div>
    <div class="col-1">
        <h1>กู้ยืมเงินละไม่คืนสามารถฟ้องศาลได้หรือไม่</h1>
        <img src="img/42.jpg">
        <!-- <h3>หมิ่นประมาทผ่านสื่อสังคมออนไลน์ <br> ฟ้องเรียกค่าเสียหายเป็นเงินสด!ได้</h3> -->
    </div>
    <div class="text">
        <h2>ยืมเงินแล้วไม่คืนผิดกฎหมาย! เรื่องสำคัญควรศึกษาไว้ก่อนให้หรือกู้เงิน</h2>
        <h3>ท่ามกลางสถานการณ์เศรษฐกิจที่ค่าแรงผันแปรไปในทิศทางตรงกันข้ามกับค่าครองชีพที่นับวันยิ่งสูงขึ้น หลายคนจึงต้องมองหาเงินในรูปแบบของการ “ยืม” จากสถาบันทางการเงินหรือคนสนิท ส่วนบางคนก็อาจพบกับเพื่อนหรือแม้กระทั่งคนในเครือญาติเข้ามาขอกู้หนี้ยืมสิน ซึ่งอาจเกิดเหตุการณ์ยืมเงินแล้วไม่คืน ที่ถือเป็นการผิดสัญญาอย่างหนึ่ง ส่งผลให้มีการฟ้องร้องกันในที่สุด</h3>
        <h1>ยืมเงินไม่คืนเป็นคดีอะไร?</h1>
        <h3>การกู้เงินแล้วไม่คืน นับเป็นคดีระหว่างบุคคล 2 ฝ่าย ที่ผิดสัญญาต่อกัน โดย “ลูกหนี้” กระทำผิดสัญญาโดยไม่ชำระคืนเงินแก่ “เจ้าหนี้” ตามจำนวน วันและเวลาที่ตกลงกันไว้ ซึ่งเป็นเรื่องที่กฎหมายกำหนดให้บุคคล “ใช้สิทธิทางศาล” เพื่อรับรองคุ้มครองสิทธิของตน ดังนั้นการยืมเงินแล้วไม่คืนนับเป็นคดีแพ่ง สามารถยืนฟ้องร้องต่อศาลได้</h3>
        <h3>อีกทั้ง การกู้ยืมเงินแล้วไม่ชำระคืนยังเข้าข่ายความผิดตามประมวลกฎหมายแพ่งและพาณิชย์ มาตรา ๒๑๓ ที่ระบุว่า “ถ้าลูกหนี้ละเลยเสียไม่ชำระหนี้ของตน เจ้าหนี้จะร้องขอต่อศาลให้สั่งบังคับชำระหนี้ก็ได้ เว้นแต่สภาพแห่งหนี้จะไม่เปิดช่องให้ทำเช่นนั้นได้”  นอกจากนี้ การที่ลูกหนี้ขอชำระหนี้ด้วยทรัพย์สินอย่างอื่นหรือแบ่งชำระบางส่วนนอกเหนือจากที่ตกลงกันไว้ถือเป็นการผิดสัญญา เจ้าหนี้มีสิทธิที่จะไม่รับชำระและยื่นฟ้องได้ เพราะถือว่าลูกหนี้ชำระหนี้ไม่ถูกต้อง</h3>
        <h3>ยืมเงินแล้วไม่คืน แจ้งความได้ไหม เป็นคำถามที่หลายคนสงสัย ซึ่งคำตอบคือ “ไม่ได้” เนื่องจากคดีแพ่งนั้นต่างจากคดีอาญา ตำรวจหรือเจ้าพนักงานสอบสวนไม่มีอำนาจในการฟ้องคดีแพ่งแทนผู้เสียหาย แนะนำให้ติดต่อกับทนายความเพื่อขอความช่วยเหลือในการดำเนินเรื่องฟ้องร้องคดีแทน</h3>
        <h1>ฟ้องร้องขอคืนเงิน ต้องมีหนังสือสัญญาเป็นลายลักษณ์อักษร</h1>
        <h3>ทั้งนี้ ในกรณีที่ผิดสัญญากู้ยืมเงิน เจ้าหนี้สามารถฟ้องร้องต่อศาลได้ก็ต่อเมื่อมีการยืมเงินมากกว่า 2,000 บาทขึ้นไป และต้องมีหนังสือสัญญาเป็นลายลักษณ์อักษรพร้อมลายเซ็นผู้กู้ ตามประมวลกฎหมายแพ่งและพาณิชย์ มาตรา ๖๕๓ วรรคหนึ่ง ความว่า “การกู้ยืมเงินกว่าสองพันบาทขึ้นไปนั้น ถ้ามิได้มีหลักฐานแห่งการกู้ยืมเป็นหนังสืออย่างใดอย่างหนึ่งลงลายมือชื่อผู้ยืมเป็นสําคัญ จะฟ้องร้องให้บังคับคดีหาได้ไม่”</h3>
        <h3>ดังนั้น ผู้ให้กู้ควรร่างหนังสือสัญญากู้ยืมอย่างชัดเจน โดยระบุรายละเอียดให้ครบถ้วน ไม่ว่าจะเป็น วัน/เดือน/ปี ในการทำสัญญา รายละเอียดของผู้ให้กู้และผู้กู้ วันกำหนดชำระคืน ดอกเบี้ยต่อเดือน/ต่อปี หรืออื่นๆ ส่วนในกรณีที่มีการยืมเงินไปแล้ว สามารถทำหนังสือรับสภาพหนี้หลังจากการกู้ยืมเงิน ก็สามารถใช้ดำเนินคดีต่อศาลได้เช่นกัน</h3>
        <h1>ไม่มีหนังสือสัญญาการกู้ยืม ยื่นฟ้องร้องได้ไหม?</h1>
        <h3>ในกรณีที่คนรู้จักมายืมเงิน เช่น เพื่อน ญาติ หรือคนรู้จัก ส่วนใหญ่มักไม่มีการทำหนังสือสัญญากู้ยืมเงินเป็นลายลักษณ์อักษร หลายคนจึงมองว่าไม่สามารถฟ้องร้องได้ อย่างไรก็ตาม เจ้าหนี้สามารถใช้หลักฐานอย่างประวัติการแชท (Chat) ที่เป็นข้อความการสนทนาขอกู้ยืมเงิน เช่น Messenger หรือ LINE ในการยื่นฟ้องร้องได้ โดยต้องมีรายละเอียดระบุเอาไว้ชัดเจนว่า ผู้กู้ยืมเป็นใคร จำนวนเงินที่กู้ยืม วันกำหนดชำระคืน รวมไปถึงสลิป (Slip) การโอนเงิน เป็นต้น ซึ่งสิ่งเหล่านี้ถือเป็นหนังสือและหลักฐานการกู้ยืมเงินนั่นเอง</h3>
        <h1>ยืมเงินแล้วไม่คืน มีอายุความกี่ปี?</h1>
        <h3>อายุความของการยืมเงินแล้วไม่คืนสามารถแบ่งออกได้เป็น 2 กรณี ขึ้นอยู่กับรายละเอียดการชำระหนี้ที่ระบุในหนังสือสัญญากู้ยืมเงิน ดังนี้</h3>
        <h3>1. กรณีกำหนดชำระเป็นงวด (อายุความ 5 ปี)</h3>
        <h3>หากเจ้าหนี้และลูกหนี้ตกลงที่จะแบ่งชำระเงินเป็นงวดๆ (รายเดือน รายปี) สิทธิเรียกร้องจะมีกำหนดอายุความ 5 ปี ตาม ประมวลกฎหมายแพ่งและพาณิชย์ มาตรา ๑๙๓/๓๓</h3>
        <h3>2.กรณีไม่ได้กำหนดชำระเป็นงวด (อายุความ 10 ปี)หากเจ้าหนี้และลูกหนี้ตกลงที่จะแบ่งชำระเงินเป็นงวดๆ (รายเดือน รายปี)</h3>
        <h3>สิทธิเรียกร้องจะมีกำหนดอายุความ 5 ปี ตาม ประมวลกฎหมายแพ่งและพาณิชย์ มาตรา ๑๙๓/๓๓ เมื่อไม่ได้มีรายละเอียดกำหนดการชำระหนี้ระบุในสัญญาแต่อย่างใด สิทธิเรียกร้องจะมีกำหนดอายุความ 10 ปี ตาม ประมวลกฎหมายแพ่งและพาณิชย์ มาตรา ๑๙๓/๓๐</h3>
        <h1>ระงับข้อพิพาททางเลือก เมื่อผิดสัญญาการกู้เงิน</h1>
        <img src="img/43.jpeg">
        <h3>การยื่นฟ้องร้องต่อศาลอาจเป็นวิธีอันดับแรกที่เจ้าหนี้เลือกใช้เพื่อให้ได้เงินคืน ทั้งนี้การดำเนินคดีอาจใช้เวลานานหลายเดือนหรือเป็นปี เนื่องจากศาลนั้นมีจำนวนคดีที่ต้องดำเนินการเป็นจำนวนมาก มีขั้นตอนซับซ้อน อีกทั้งยังมีค่าใช้จ่ายที่สูง อย่างไรก็ตาม ยังมีวิธีการระงับข้อพิพาททางเลือก ซึ่งเป็นกระบวนการยุติธรรมที่ไม่ต้องผ่านการตัดสินของศาล พร้อมช่วยยุติหรือหาทางออกให้กับทั้งสองฝ่ายได้อย่างเป็นธรรม</h3>
        <h3>การระงับข้อพิพาททางเลือกทั่วไปมีด้วยกัน 3 วิธี ได้แก่</h3>
        <h3>1.การเจรจา (Negotiation) </h3>
        <h3>การเจรจา คือ การที่ทั้งสองฝ่าย (เจ้าหนี้และลูกหนี้) ยินยอมที่จะเจรจาหาข้อตกลงกันเอง โดยปราศจากบุคคลที่สามมาเกี่ยวข้อง ทำให้ประหยัดค่าใช้จ่ายและเวลา ความลับระหว่างคู่เจรจาไม่รั่วไหล</h3>
        <h3>2.การประนอมข้อพิพาท (Mediation)</h3>
        <h3>การประนีประนอมข้อพิพาท หรือ “การไกล่เกลี่ย” เป็นการระงับข้อพิพาทด้วยความยินยอมของคู่กรณี โดยที่มีบุคคลที่สามอย่าง “ผู้ประนอม” เข้ามาเป็นคนกลางคอยช่วยเหลือและอำนวยความสะดวกในการหาทางออกร่วมกัน  ที่อาจเป็นผู้พิพากษาในศาล ซึ่งไม่ใช่ผู้พิพากษาเจ้าของสำนวน หรือเป็นบุคคลหรือคณะบุคคลทั่วไปก็ได้เช่นกัน ส่งผลให้การไกล่เกลี่ยมีความเป็นกลาง ทั้งนี้ ผู้ประนอมไม่มีหน้าที่ตัดสินชี้ขาดข้อพิพาท</h3>
        <h3>3.อนุญาโตตุลาการ (Arbitration)</h3>
        <h3>อนุญาโตตุลาการ คือ กระบวนการที่คู่พิพาทตกลงให้บุคคลที่ 3 ที่มีความเป็นกลางและเป็นอิสระ และมีความรู้ความเชี่ยวชาญในเรื่องที่พิพาทนั้นเป็นผู้ทำการวินิจฉัยชี้ขาดข้อพิพาทดังกล่าว โดยคู่พิพาทจะต้องยอมรับคำวินิจฉัยชี้ขาด ซึ่งมีข้อผูกพันทางกฎหมาย แม้ยื่นฟ้องร้องต่อศาลแล้ว คู่พิพาทก็สามารถต้องถอนฟ้องจากศาลเพื่อมาอนุญาโตตุลาการแทนได้</h3>
        <h3>การระงับข้อพิพาททางเลือกเป็นทางออกที่ดีในการหาทางออกในกรณีที่เกิดการยืมเงินแล้วไม่คืน เพราะช่วยประหยัดทั้งเงินและเวลา เก็บรักษาความลับของทั้งสองฝ่าย อีกทั้งช่วยรักษาความสัมพันธ์ระหว่างกันได้ดี พร้อมเป็นการลดจำนวนคดีในชั้นศาล</h3>
        <h3>ทั้งฝ่ายเจ้าหนี้หรือลูกหนี้ก็สามารถใช้สิทธิตามกฎหมายเพื่อร้องขอความเป็นธรรมได้ในกรณีที่ต้องดำเนินการฟ้องร้องหรือถูกฟ้องในคดีการกู้เงินแล้วไม่คืน ซึ่งก่อนที่จะขึ้นโรงขึ้นศาล คู่พิพาทก็มีทางเลือกในการหาทางออกด้วยการระงับข้อพิพาททางเลือก ไม่ว่าจะเป็นการเจรจา ไกล่เกลี่ย หรืออนุญาโตตุลาการ เพื่อประนอมข้อพิพาทและหาทางออกที่ลงตัวกับทั้งสองฝ่าย ซึ่งทาง THAC ยินดีให้บริการคำแนะนำ รวมถึงบริการไกล่เกลี่ยข้อพิพาทจากประสบการณ์และความชำนาญ</h3>
    </div>

    <div class="footer-main">
        <p>ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
        <p>รับว่าความทั่วราชอาณาจักร</p>
        <p>Tel : 081-950-5859</p>

        <div class="menu">
            <a href="home">หน้าหลัก</a> |
            <a href="about">ผลงาน</a>
            <!-- <a href="#">บริการ</a> -->
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="contack">ติดต่อเรา</a>
        </div>

        <div class="social-icons">
            <a href="https://www.facebook.com/mr.apisit.siriposop?locale=th_TH"><img src="/img/facebook.jpg" alt="Facebook"></a>
            <a href="https://line.me/ti/p/5mO_CErwea"><img src="/img/line.jpg" alt="Line"></a>
        </div>
    </div>
    <div class="footer">
        <p>&copy; ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
    </div>
</body>
</html>