<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
    <link rel="stylesheet" href="/css/artcle.css">
</head>
<body>
    <div class="page">
        <div class="logo">
            <a href="home"><img src="/img/img4.png" alt="Logo"></a>
            <a href="/"><span>ออกจากระบบ</span></a>
            <!-- <a href="login"><span>เข้าสู่ระบบ</span></a>
            <a href="register"><span>&nbsp;&nbsp; สมัครสมาชิก</span></a> -->
        </div>
        <div class="menu">
            <a href="home">หน้าหลัก</a>
            <a href="about">ผลงาน</a>
            <!-- <a href="#">บริการ</a> -->
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="estimate">ประเมินการบริการ</a>
            <a href="review">รีวิว</a>
            <a href="contack">ติดต่อเรา</a>
            <!-- <a href="#">ค้นหา</a> -->
        </div>
    </div>
    <div class="container">
        <h2 class="heading">บทความ<br>สำนักงานทนายความ อภิสิทธิ์</h2>
        <div class="row">
            <div class="col">
                <div class="blog-card">
                    <img src="/img/12.jpg" >
                    <h3>การหมิ่นประมาทผ่านสื่อสังคมออนไลน์</h3>
                    <a href="article1" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col">
                <div class="blog-card">
                    <img src="/img/14.jpg" >
                    <h3>กู้ยืมเงินละไม่คืน ฟ้องศาลได้หรือไม่</h3>
                    <!-- <p>อิอิอิอิอิอิ</p> -->
                    <a href="article2" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col">
                <div class="blog-card">
                    <img src="/img/15.jpg" >
                    <h3>หนี้บัตรเครดิต หนี้เงินกู้ หนี้เสินเชื่อเงินสด</h3>
                    <!-- <p>อิอิอิอิอิอิ</p> -->
                    <a href="article3" class="read-more">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- <h2 class="heading">บทความ<br>สำนักงานทนายความ อภิสิทธิ์</h2> -->
        <div class="row">
            <div class="col">
                <div class="blog-card">
                    <img src="/img/16.jpg" >
                    <h3>ฟ้องหย่าเรียกร้องอะไรได้บ้าง และมีรายละเอียดย่างไรบ้าง?</h3>
                    <!-- <p>อิอิอิอิอิอิ</p> -->
                    <a href="article4" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col">
                <div class="blog-card">
                    <img src="/img/17.jpg" >
                    <h3>ฟ้องชู้ เรียกร้องอะไรได้บ้าง และจะต้องเตรียมหลักฐานอะไรบ้าง?</h3>
                    <!-- <p>อิอิอิอิอิอิ</p> -->
                    <a href="article5" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col">
                <div class="blog-card">
                    <img src="/img/18.png" >
                    <h3>สามีภริยาไม่ได้จดทะเบียนสมรส แยกทางกันทรัพย์สินเป็นของใคร</h3>
                    <!-- <p>อิอิอิอิอิอิ</p> -->
                    <a href="article6" class="read-more">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- <h2 class="heading">บทความ<br>สำนักงานทนายความ อภิสิทธิ์</h2> -->
        <div class="row">
            <div class="col">
                <div class="blog-card">
                    <img src="/img/19.png" >
                    <h3>พ.ร.ก.มาตรการป้องกันและปราบปรามอาชญากรรมทางเทคโนโลยี 2566</h3>
                    <!-- <p>อิอิอิอิอิอิ</p> -->
                    <a href="article7" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col">
                <div class="blog-card">
                    <img src="/img/20.png" >
                    <h3>ฟ้องคดีกู้ยืมได้ โดยไม่ต้องมีสัญญาหรือหลักฐานเป็นหนังสือ</h3>
                    <!-- <p>อิอิอิอิอิอิ</p> -->
                    <a href="article8" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col">
                <div class="blog-card">
                    <img src="/img//22.jpg" >
                    <h3>หน้าที่ของผู้จัดการมรดก? และต้องเตรียมอะไรบ้าง</h3>
                    <!-- <p>อิอิอิอิอิอิ</p> -->
                    <a href="article9" class="read-more">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-main">
        <p>ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
        <p>รับว่าความทั่วราชอาณาจักร</p>
        <p>Tel : 081-950-5859</p>

        <div class="menu">
            <a href="home">หน้าหลัก</a> |
            <a href="about">ผลงาน</a>
            <!-- <a href="#">บริการ</a> -->
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="contack">ติดต่อเรา</a>
        </div>

        <div class="social-icons">
            <a href="https://www.facebook.com/mr.apisit.siriposop?locale=th_TH"><img src="/img/facebook.jpg" alt="Facebook"></a>
            <a href="https://line.me/ti/p/5mO_CErwea"><img src="/img/line.jpg" alt="Line"></a>
        </div>
    </div>

   <div class="footer">
        <p>&copy; ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
    </div>
    
</body>
</html>