<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article7</title>
    <link rel="stylesheet" href="/css/article7.css">
</head>
<body>
    <div class="page">
        <div class="logo">
            <a href="home"><img src="img/img4.png" alt="Logo"></a>
            <a href="/"><span>ออกจากระบบ</span></a>
            <!-- <a href="login.html"><span>เข้าสู่ระบบ</span></a>
            <a href="register.html"><span>&nbsp;&nbsp; สมัครสมาชิก</span></a> -->
        </div>
        <div class="menu">
            <a href="home">หน้าหลัก</a> 
            <a href="about">ผลงาน</a>
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="estimate">ประเมินการบริการ</a>
            <a href="review">รีวิว</a>
            <a href="contack">ติดต่อเรา</a>
            <!-- <a href="#">ค้นหา</a> -->
        </div>
    </div>
    <div class="col-1">
        <h1 style="color: blue;">พ.ร.ก. ป้องกันอาชญากรรมไซเบอร์</h1>
        <!-- <img src="img/47.png">
        <h3>ฟ้องชู้มีเรียกร้องอะไรได้บ้าง <br> และจะต้องเตรียมหลักฐานอะไรบ้าง</h3> -->
    </div>
    <div class="text">
        <h3>เมื่อวันที่ 16 มีนาคม 2566 ราชกิจจานุเบกษาได้เผยแพร่พระราชกำหนด (พ.ร.ก.) มาตรการป้องกันและปราบปรามอาชญากรรมทางเทคโนโลยี พ.ศ. 2566 และมีผลบังคับใช้ตั้งแต่วันที่ 17 มี.ค. 2566 เป็นต้นไป ซึ่งกฎหมายฉบับนี้เป็นกฎหมายสำคัญที่รัฐออกมาเพื่อแก้ไขปัญหาการหลอกลวงทางออนไลน์และปัญหาอาชกรรมทางออนไลน์ทั้งหมด นายชัยวุฒิ ธนาคมานุสรณ์ รมว.ดิจิทัลเพื่อเศรษฐกิจและสังคม (ดีอีเอส) กล่าวว่า กฎหมายฉบับนี้เป็นกฎหมายสำคัญที่รัฐออกมาเพื่อแก้ไขปัญหาการหลอกลวงทางออนไลน์ และปัญหาอาชกรรมทางออนไลน์ทั้งหมดทำให้ปัญหาจะลดลงอย่างแน่นอนหลังจากนี้ หากประชาชนถูกหลอกลวงทางออนไลน์ให้รีบแจ้งไปที่ธนาคารโดยตรง ธนาคารจะมีอำนาจระงับบัญชีต้องสงสัยได้ทันที จากเดิมต้องรอไปแจ้งความก่อนถึงจะระงับบัญชีได้</h3>
        <h3>ส่วนบัญชีม้าและเบอร์มือถือม้า ที่รับจ้างเปิดให้ผู้ก่อเหตุนำไปใช้หลอกลวงประชาชน หลังจากนี้จะมีความผิดทางกฎหมายมีโทษจำคุก 3 ปี ปรับ 300,000 บาท ดังนั้นประชาชนที่กำลังทำความผิดให้ไปแจ้งยกเลิกบัญชีผิดกฎหมายเหล่านี้โดยด่วน เพราะถือว่ามีความผิดตามกฎหมายนี้ ได้ไม่คุ้มเสีย รับจ้างได้เงินเพียง 500-2,000 บาท แต่ต้องมาโดนปรับ 300,000 บาท และจำคุกอีก 3 ปี</h3>
        <a style="margin: 20px 90px; color: red; font-size: 16px;" href="https://ratchakitcha.soc.go.th/documents/140A018N0000000000100.pdf">อ่านรายละเอียดเพิ่มเติม พ.ร.ก. ป้องกันอาชญากรรมไซเบอร์</a>
        <img src="img/p1.jpg">
        <img src="img/p2.jpg">
        <img src="img/p3.jpg">
        <img src="img/p4.jpg">
        <img src="img/p5.jpg">
        <img src="img/p6.jpg">
        <a style="margin: 20px 90px; color: red; font-size: 16px;" href="https://www.thaipbs.or.th/news/content/325650">ขอบคุณที่มา : thaipbs.or.th</a>
        <h3 style="color: red; text-align: center;">ติดต่อ ทนายอภิสิทธิ์ ศิริโพธิ์สพ รับว่าความทั่วราชอาณาจักร</h3>
        <h3 style="color: blue; text-align: center;">0819505859</h3>
       
    </div>

    <div class="footer-main">
        <p>ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
        <p>รับว่าความทั่วราชอาณาจักร</p>
        <p>Tel : 081-950-5859</p>

        <div class="menu">
            <a href="home">หน้าหลัก</a> |
            <a href="about">ผลงาน</a>
            <!-- <a href="#">บริการ</a> -->
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="contack">ติดต่อเรา</a>
        </div>

        <div class="social-icons">
            <a href="https://www.facebook.com/mr.apisit.siriposop?locale=th_TH"><img src="/img/facebook.jpg" alt="Facebook"></a>
            <a href="https://line.me/ti/p/5mO_CErwea"><img src="/img/line.jpg" alt="Line"></a>
        </div>
    </div>
    <div class="footer">
        <p>&copy; ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
    </div>
</body>
</html>