<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article4</title>
    <link rel="stylesheet" href="/css/article4.css">
</head>
<body>
    <div class="page">
        <div class="logo">
            <a href="home"><img src="img/img4.png" alt="Logo"></a>
            <a href="/"><span>ออกจากระบบ</span></a>
            <!-- <a href="login.html"><span>เข้าสู่ระบบ</span></a>
            <a href="register.html"><span>&nbsp;&nbsp; สมัครสมาชิก</span></a> -->
        </div>
        <div class="menu">
            <a href="home">หน้าหลัก</a> 
            <a href="about">ผลงาน</a>
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="estimate">ประเมินการบริการ</a>
            <a href="review">รีวิว</a>
            <a href="contack">ติดต่อเรา</a>
            <!-- <a href="#">ค้นหา</a> -->
        </div>
    </div>
    <div class="col-1">
        <h1>ฟ้องหย่า</h1>
        <img src="img/45.jpg">
        <h3>ฟ้องหย่ามีรายละเอียดอย่างไรบ้าง <br> สามารถเรียกร้องอะไรได้บ้าง</h3>
    </div>
    <div class="text">
        <h3>กรณีที่คู่สมรสฝ่ายหนึ่งต้องการหย่า แต่อีกฝ่ายหนึ่งไม่ต้องการหย่า สามารถไปฟ้องขอให้ศาลมีคำพิพากษาให้หย่าขาดจากอีกฝ่ายหนึ่งได้ แต่ต้องมีเหตุฟ้องหย่าตามที่บัญญัติไว้ในมาตรา 1516 เท่านั้น จะอาศัยเหตุอื่นมาเป็นเหตุฟ้องหย่าไม่ได้ และจะทำสัญญาก่อนสมรสกำหนดเหตุฟ้องหย่ากันไว้เองก็ไม่ได้ด้วยเช่นกัน ——-แต่อย่างไรก็ตาม หากมีการฟ้องหย่าคู่สมรสอีกฝ่ายหนึ่งจะต่อสู้คดีว่าไม่มีเหตุฟ้องหย่าและการสมรสเป็นโมฆะ เพราะไม่ได้ยินยอมเป็นสามีภริยากัน ศาลพิพากษาว่าการสมรสนั้นเป็นโมฆะก็ได้</h3>
        <h1>เหตุฟ้องหย่า ตามมาตรา 1516 มีทั้งหมด 10 เหตุ </h1>
        <h3>โดยทั้งหมดนี้ใช้ในการฟ้องหย่าในประเทศไทยทุกกรณี กล่าวคือ หากเป็นสามีภริยาชาวต่างชาติ แต่ถ้ามาฟ้องหย่ากันในประเทศไทยต้องใช้เหตุหย่า ตามมาตรา 1516 และต้องนำสืบด้วยว่ากฎหมายแห่งสัญชาติตนและจำเลยให้สิทธิฟ้องหย่าได้ หากไม่นำสืบ ศาลพิพากษายกฟ้องได้แม้จำเลยไม่ได้ยกเป็นข้อต่อสู้ก็ตาม</h3>
        <h3>สำหรับการสมรสโดยบุคคลเพศเดียวกันที่กระทำในต่างประเทศโดยชอบด้วยกฎหมายของต่างประเทศ ไม่ได้รับการยอมรับว่าเป็นการสมรสตามกฎหมายไทย โดยต้องถือว่าไม่ใช่การสมรสจะมาฟ้องหย่าในศาลไทยไม่ได้ และการจดทะเบียนหุ้นส่วนชีวิต ก็มาฟ้องหย่าในศาลไทยไม่ได้ แต่ถ้าเป็นการเปลี่ยนเพศ เช่น ชายเปลี่ยนเพศเป็นหญิง แล้วไปจดทะเบียนสมรสกับชาย แบบนี้ถือว่าเป็นการสมรสกันตามกฎหมายมาฟ้องหย่าในศาลไทยได้</h3>
        <h3>การฟ้องหย่า ให้ฟ้องต่อศาลที่จำเลยมีภูมิลำเนาอยู่ในเขตศาล หรือศาลที่มูลคดีเกิดขึ้นในเขตศาล ไม่ว่าจำเลยจะมีภูมิลำเนาอยู่ในราชอาณาจักรหรือไม่ โดย “มูลคดี” คือ ที่ที่เกิดต้นเหตุแห่งการฟ้องหย่า ไม่ใช่ที่ที่จดทะเบียนสมรส เช่น สามีภริยาไปเที่ยวภูเก็ตแล้วสามีทำร้ายภริยาจนภริยาต้องการหย่า แบบนี้มูลคดี คือ ภูเก็ต ฟ้องต่อศาลเยาวชนและครอบครัวจังหวัดภูเก็ต เป็นต้น</h3>
        <h3>ฟ้องหย่า (นอกจากฟ้องหย่าแล้วจะเรียกร้องอะไรได้อีกบ้าง)</h3>
        <li>1. ฟ้องเรียกค่าเลี้ยงชีพ ตามมาตรา 1526 , 1527 , 1528 , 1461</li>
        <li>2. ฟ้องเรียกค่าอุปการะลี้ยงดูบุตร (กรณีมีบุตร) / การใช้อำนาจปกครองบุตร มาตรา 1520 , 1522</li>
        <li>3. ฟ้องเรียกค่าทดแทนจากสามีหรือภริยาและจากผู้ซึ่งได้รับการอุปการะเลี้ยงดูหรือยกย่อง หรือผู้ซึ่งเป็นเหตุแห่งการหย่านั้นตามมาตรา 1523 วรรคหนึ่ง หรือ เรียกค่าทดแทนจากชู้ ตามมาตรา 1523 วรรคสองได้</li>
        <li>4. ฟ้องแบ่งสินสมรส มาตรา 1533 , มาตรา 1535 และการชำระหนี้ (สินสมรส มาตรา 1474 , สินส่วนตัว มาตรา 1471) ได้</li>
        <h3>ฟ้องหย่า จะต้องเตรียมเอกสารอะไรบ้าง ?</h3>
        <li>1. ใบสำคัญการสมรส</li>
        <li>2. ทะเบียนบ้านที่สามี-ภรรยา และบุตรพักอาศัยอยู่ด้วยกัน</li>
        <li>3. บัตรประจำตัวประชาชน สามี-ภรรยา</li>
        <li>4. สูติบัตรบุตรหรือทะเบียนบ้านของบุตรทุกคน (ถ้ามีบุตรด้วยกัน)</li>
        <li>5. หนังสือแสดงการเปลี่ยนชื่อ – สกุล (ทั้งของสามีภรรยาและบุตร ถ้ามี)</li>
        <li>6. หลักฐานที่เกี่ยวข้องกับเหตุที่จะฟ้องหย่า ตามมาตรา 1516</li>
        <li>7. หลักฐานเกี่ยวกับทรัพย์สินสมรส เช่น โฉนดที่ดิน รายการจดทะเบียนรถยนต์ สมุดบัญชีเงินฝาก เป็นต้น (เฉพาะกรณีที่มีประเด็นเรื่องการแบ่งสินสมรสด้วย)</li>
        <li>8. หลักฐานเกี่ยวกับบุตรผู้เยาว์ เช่น หลักฐานการศึกษา การส่งเสียเลี้ยงดูบุตรผู้เยาว์ (เฉพาะคดีที่มีประเด็นเรื่องอำนาจปกครองบุตร)</li>
        <li>9. บันทึกข้อตกลงการหย่า (ถ้ามี)</li>
        <h3>ก่อนฟ้องหย่า แนะนำให้ปรึกษาทนายความก่อนนะครับ</h3>
        <li>1. เรียบเรียงและนำข้อเท็จจริงที่เกิดขึ้นมาปรึกษาทนายความก่อน</li>
        <li>2. รวบรวมพยานหลักฐาน เอกสารที่เกี่ยวข้องนำมาให้ทนายตรวจสอบก่อน</li>
        <li>3. หากทนายความพิจารณาแล้วเห็นว่าเป็นเหตุที่สามารถฟ้องหย่าได้ ก็ตกลงเซ็นต์ใบแต่งทนายความและทำสัญญาจ้างว่าความ</li>
        <li>4. เพื่อให้ทนายทำหน้าที่จัดทำคำฟ้อง ยื่นต่อศาลที่มีเขตอำนาจ</li>
    </div>

    <div class="footer-main">
        <p>ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
        <p>รับว่าความทั่วราชอาณาจักร</p>
        <p>Tel : 081-950-5859</p>

        <div class="menu">
            <a href="home">หน้าหลัก</a> |
            <a href="about">ผลงาน</a>
            <!-- <a href="#">บริการ</a> -->
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="contack">ติดต่อเรา</a>
        </div>

        <div class="social-icons">
            <a href="https://www.facebook.com/mr.apisit.siriposop?locale=th_TH"><img src="/img/facebook.jpg" alt="Facebook"></a>
            <a href="https://line.me/ti/p/5mO_CErwea"><img src="/img/line.jpg" alt="Line"></a>
        </div>
    </div>
    <div class="footer">
        <p>&copy; ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
    </div>
</body>
</html>