<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/article1.css">
</head>
<body>
    <div class="page">
        <div class="logo">
            <a href="home"><img src="img/img4.png" alt="Logo"></a>
            <a href="/"><span>ออกจากระบบ</span></a>
            <!-- <a href="login.html"><span>เข้าสู่ระบบ</span></a>
            <a href="register.html"><span>&nbsp;&nbsp; สมัครสมาชิก</span></a> -->
        </div>
        <div class="menu">
            <a href="home">หน้าหลัก</a> 
            <a href="about">ผลงาน</a>
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="estimate">ประเมินการบริการ</a>
            <a href="review">รีวิว</a>
            <a href="contack">ติดต่อเรา</a>
            <!-- <a href="#">ค้นหา</a> -->
        </div>
    </div>
    <div class="col-1">
        <h1>หมิ่นประมาทผ่านสื่อสังคมออนไลน์</h1>
        <img src="img/12.jpg">
        <h3>หมิ่นประมาทผ่านสื่อสังคมออนไลน์ <br> ฟ้องเรียกค่าเสียหายเป็นเงินสด!ได้</h3>
    </div>
    <div class="text">
        <h1>พฤติกรรมหรือการกระทำที่อาจเข้าข่ายหมิ่นประมาท ได้แก่</h1>
        <h3>1.ใส่ความ คือ การแสดงข้อความที่เป็นการกล่าวอ้างหรือยืนยันข้อเท็จจริงหรือแสดงความเห็นถึงผู้อื่น ซึ่งไม่สำคัญว่าเป็นเรื่องจริงหรือเท็จ เช่น พูด พิมพ์ เขียน วิธีอื่นที่ทำให้เข้าใจได้ *ถ้ากล่าวถึงเหตุการณ์ในอนาคตที่ยังไม่เกิดขึ้น หรือเป็นข้อเท็จจริงที่เป็นไปไม่ได้ เช่น</h3>
        <h3>2.ผู้อื่น คือ ผู้เสียหายที่ถูกด่าและต้องระบุชัดเจนว่าเป็นใคร</h3>
        <h3>3.ต่อบุคคลที่สาม คือ ผู้ที่รับฟัง/ทราบเรื่องการใส่ความ</h3>
        <h3>** น่าจะทำให้คนนั้น เสียชื่อเสียง ถูกดูหมิ่น ถูกเกลียดชัง คือ ให้ดูว่าความรู้สึกของบุคคลทั่วไปเมื่อถูกด่าเช่นเดียวกันจะเป็นอย่างไรประกอบด้วย**</h3>
        <img src="img/41.webp">
        <h3>ความผิดฐานมหมิ่นประมาท (มาตรา 326) การใส่ความผู้อื่นต่อบุคลที่สาม โดยน่าจะทำให้ผู้อื่นเสียชื่อเสียง ถูกดูหมิ่น หรือถูกเกลียดชัง โทษ : จำคุกไม่เกิน 1 ปี หรือปรับไม่เกิน 20,000 บาท หรือทั้งจำทั้งปรับ</h3>
        <h3>ความผิดฐานมหมิ่นประมาทด้วยการโฆษณา (มาตรา 328) การใส่ความผู้อื่นต่อบุคลที่สาม โดยน่าจะทำให้ผู้อื่นเสียชื่อเสียง ถูกดูหมิ่น หรือถูกเกลียดชัง ซึ่งกระทำการโฆษณาด้วยเอกสาร ภาพวาด ภาพระบายสี ภาพยนต์ ภาพหรือตัวอักษรที่ทำให้ปรากฎ แผ่นเสียง หรือสิ่งบันทึกเสียง บันทึกภาพหรือบันทึกอักษร โดยกระจายเสียง หรือกระจายภาพ หรือการป่าวประกาศด้วยวิธีอื่น โทษ : จำคุกไม่เกิน 2 ปี และปรับไม่เกิน 200,000 บาท</h3>
        <h1>โพสต์ด่าเรื่องไหน เสี่ยงผิดหมิ่นประมาท</h1>
        <li>ความประพฤติชั่วหรือทุจริต เช่น รับสินบน, เป็นคนขายชาติ</li>
        <li>ความประพฤติเสื่อมเสียในทางประเวณี เช่น บ้ากาม, เป็นกะหรี่, ขายตัว, เป็นเมียน้อย</li>
        <li>หน้าที่การงาน เช่น ข้าราชการทุจริตโกงกินงบประมาณ, ใช้อำนาจในทางที่ผิด</li>
        <li>ฐานะทางการเงิน เช่น ออกเช็คแล้วเช็คเด้ง ไม่มีเงินใช้หนี้, ประจานลูกหนี้, ทวงถามหนี้ลูกหนี้ผ่านทาง facebook instagram tiktok</li>
        <h1>โพสต์ด่า แต่ไม่ได้เอ่ยชื่อ เป็นความผิดฐานหมิ่นประมาทหรือไม่</h1>
        <li>การหมิ่นประมาทต้องระบุชัดเจนว่าหมายถึงคนใดคนหนึ่งโดยเฉพาะหรืออ่านแล้วได้ความว่าหมายถึงใคร</li>
        <li>แม้ไม่เอ่ยชื่อ แต่มีตัวอักษรย่อ คำ หรือภาพที่ทำให้คนทั่วไป สามารถเข้าใจได้ว่าที่โพสต์หมายถึงใคร</li>
        <h3>ผิด (มาตรา 328) ถ้ารู้ว่าเป็นการด่าใคร แต่ถ้าไถ้าไม่รู้ว่าหมายถึงใคร ไม่ผิด</h3>
        <h3>ตัวอย่าง การกระทำที่เป็นความผิดฐานหมิ่นประมาท</h3>
        <h3>1. มีความผิดฐานหมิ่นประมาท (มาตรา 326) เพราะประชาชนทั่วไปไม่สามารถเข้าถึงข้อความได้  (ไม่เป็นการโฆษณา)</h3>
        <li>โพสต์ด่าใน Facebook ส่วนตัว ไม่ได้ตั้งค่าแบบสาธารณะ</li>
        <li>โพสต์ด่าในกลุ่ม LINE หรือกลุ่ม Facebook แบบส่วนตัว</li>
        <h3>2.มีความผิดฐานหมิ่นประมาทด้วยการโฆษณา  (มาตรา 328) เพราะประชาชนทั่วไปสามารถเข้าถึงข้อความได้</h3>
        <li>โพสต์ด่าลงใน Facebook ส่วนตัวที่ตั้งค่าแบบสาธารณะ หรือ Pages Facebook หรือ YouTube หรือแอพพลิเคชันอื่นๆ </li>
        <h3>ตัวอย่าง การกระทำที่ไม่เป็นความผิดฐานหมิ่นประมาท</h3>
        <li>ส่งข้อความลงในแอปพลิเคชัน LINE กลุ่ม มีลักษณะเป็นเพียงการแจ้งข่าวไปยัง เฉพาะกลุ่มบุคคล ที่อยู่ในกลุ่มไลน์เท่านั้น ไม่ถือเป็นการกระจายข่าวไปสู่สาธารณชนหรือประชาชนทั่วไป</li>
        <li>โพสต์ข้อความหรือวิพากษ์วิจารณ์โดยสุจริต ภายใต้กฎหมายหรือสิทธิและเสรีภาพที่รัฐธรรมนูญรับรองไว้สามารถทำได้โดยชอบด้วยกฎหมาย</li>
    </div>

    <div class="footer-main">
        <p>ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
        <p>รับว่าความทั่วราชอาณาจักร</p>
        <p>Tel : 081-950-5859</p>

        <div class="menu">
            <a href="home">หน้าหลัก</a> |
            <a href="about">ผลงาน</a>
            <!-- <a href="#">บริการ</a> -->
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="contack">ติดต่อเรา</a>
        </div>

        <div class="social-icons">
            <a href="https://www.facebook.com/mr.apisit.siriposop?locale=th_TH"><img src="/img/facebook.jpg" alt="Facebook"></a>
            <a href="https://line.me/ti/p/5mO_CErwea"><img src="/img/line.jpg" alt="Line"></a>
        </div>
    </div>
    <div class="footer">
        <p>&copy; ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
    </div>
</body>
</html>