<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASE</title>
    <link rel="stylesheet" href="/css/case.css">
</head>
<body>
    <div class="page">
        <div class="logo">
            <a href="home"><img src="/img/img4.png" alt="Logo"></a>
            <a href="/"><span>ออกจากระบบ</span></a>
            <!-- <a href="login"><span>เข้าสู่ระบบ</span></a>
            <a href="register"><span>&nbsp;&nbsp; สมัครสมาชิก</span></a> -->
        </div>
        <div class="menu">
            <a href="home">หน้าหลัก</a>
            <a href="about">ผลงาน</a>
            <!-- <a href="#">บริการ</a> -->
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="estimate">ประเมินการบริการ</a>
            <a href="review">รีวิว</a>
            <a href="contack">ติดต่อเรา</a>
            <!-- <a href="#">ค้นหา</a> -->
        </div>
    </div>

    <div class="criminal">
        <h1>คดีแพ่งคืออะไร?</h1>
        <p>ต้องการใช้สิทธิเรียกร้องทางกฎหมาย แต่พอไปแจ้งความตำรวจบอกว่าเป็นคดีแพ่ง ดำเนินคดีให้ไม่ได้ แล้วคดีแพ่งคืออะไรกันละ ?</p>
        <p style="font-weight: bold;">คดีแพ่ง เป็นคดีที่เกี่ยวกับเรื่องส่วนตัวของคน 2 ฝ่าย ที่ผิดสัญญากันหรือต้องการโต้แย้งสิทธิ หน้าที่กัน หรือเป็นคดีที่มีการร้องขอต่อศาลให้ศาลรับรองสิทธิบางอย่างให้</p>
        <p>เราจึงมักได้ยินคำว่า อย่างมากก็แค่จ่ายเงินจะกลัวอะไรกับคดีแพ่ง แพ้คดีก็แค่จ่ายเงินไม่ได้ติดคุกซะหน่อย! จากปากลูกหนี้ เพราะการรับผิดทางแพ่งไม่มีโทษปรับ จำคุก กักขัง ริบทรัพย์สิน ประหารชีวิตเหมือนคดีอาญา แต่ในความเป็นจริงการถูกฟ้องร้องจะทำให้เสียมากกว่าเงิน เช่น เวลา โอกาสต่าง ๆ อีก มากมาย ยิ่งถูกฟ้องแล้วต้องรับสภาพหนี้ก้อนโตจากดอกเบี้ยและค่าปรับด้วยแล้ว ก็อาจทำให้ชีวิตลำบากไม่ต่างกับการติดคุกเลยก็ได้ และการละเมิดคนอื่นจนได้รับความเสียหายก็ไม่ใช่สิ่งที่ควรทำ</p>
        <h1>คดีแพ่งมีกี่ประเภท?</h1>
        <p>คดีแพ่งมีทั้งคดีที่ขอให้อีกฝ่ายชดใช้เงิน คืนของ จ่ายค่าเสียหายต่าง ๆ หรือต้องการให้ทำสิ่งใดสิ่งหนึ่ง เราจะเรียกคดีแบบนี้ว่า คดีมีข้อพิพาท และสำหรับคดีที่ไม่มีคู่ความเราจะเรียกว่า คดีไม่มีข้อพิพาท</p>
        <p style="font-weight: bold;">1. คดีมีข้อพิพาท จะมีคู่ความฝ่ายหนึ่งคือ “โจทก์” เป็นฝ่ายที่ยื่นคำฟ้อง อีกฝ่ายคือ “จำเลย” เป็นฝ่ายที่ถูกฟ้อง </p>
        <p>คดีมีข้อพิพาทจะฟ้องได้ต่อเมื่อมีการทำให้เกิดความเสียหาย หรือกระทบกับสิทธิที่เราจะต้องได้รับตามกฎหมาย หรือเรียกง่าย ๆ ว่าฟ้องเพื่อเรียกร้องสิทธิที่มีตามกฎหมายของตัวเอง ฟ้องเพื่อให้อีกฝ่ายหนึ่งทำตามหน้าที่ตัวเอง ต่างฝ่ายต่างมีสิทธิ์ในการโต้แย้ง สืบหาความจริง เพื่อให้ศาลตัดสินว่าต้องชดใช้ให้กันมากน้อยแค่ไหน ต้องชดใช้ยังไงบ้างตามกฎหมายแพ่ง เช่น</p>
        <li>ฟ้องให้จ่ายหนี้</li>
        <li>ฟ้องผิดสัญญาซื้อขาย</li>
        <li>ฟ้องเรียกค่าเสียหายเลิกจ้างไม่เป็นธรรม</li>
        <li>ฟ้องเรียกค่าปรับคืน</li>
        <li>ฟ้องเรียกค่านายหน้า</li>
        <p style="font-weight: bold;">2. คดีไม่มีข้อพิพาท เป็นคดีที่จะต้องร้องขอให้ตัวเองมีสิทธิอย่างใดอย่างหนึ่งจากศาล</p>
        <p>เพื่อให้มีการรับรองสิทธิที่ว่าตามกฎหมาย จะได้มีอำนาจในการทำสิ่งต่าง ๆ ได้ คดีแบบนี้ไม่มีคู่ความ แต่ถ้ามีคนยื่นขอคัดค้านภายในวันนัดใต่สวน ก็จะกลายเป็นคดีมีข้อพิพาทได้เหมือนกัน เช่น</p>
        <li>ขอเป็นผู้จัดการมรดก</li>
        <li>ขอเป็นผู้ปกครองผู้เยาว์</li>
        <li>ขอทำนิติกรรมแทนผู้เยาว์</li>
        <li>ขอให้ศาลสั่งให้เป็นบุคคลไร้ความสามารถ เสมือนไร้ความสามารถ หรือสาบสูญ</li>
        <li>ขอแสดงสิทธิ์ในที่ดินโดยการครอบครองปรปักษ์</li>
        <li>ขอสิทธิการเลี้ยงดูบุตร</li>
        <h1>คดีเเพ่งแจ้งความให้ตำรวจดำเนินคดีไม่ได้</h1>
        <p>คดีเล็ก ๆ แค่นี้ทำไมตำรวจช่วยไม่ได้ แล้วจะมีตำรวจไว้ทำไมเปลืองภาษีเปล่า ๆ เวลามีเรื่องเดือดเนื้อร้อนใจหรือได้รับความเสียหาย ใคร ๆ ก็มักบอกว่าไปแจ้งความเลย จับเข้าคุกเลย และที่พึ่งที่เข้าถึงง่ายที่สุดคือตำรวจ หลายคนจึงตรงดิ่งไปโรงพักอย่างรวดเร็ว</p>
        <p>แต่พอได้คุยกับเจ้าหน้าที่สอบสวนไปสักพัก กลับได้ยินคำว่านี่เป็นคดีแพ่งนะ ต้องไปฟ้องศาลเอาเอง ทำให้เกิดอาการหน้าชาขึ้นมาทันที แล้วฉันมาทำอะไรอยู่ที่นี่ เสียเวลามาทำไม โมโหก็โมโห ยังต้องมาหงุดหงิดที่ตำรวจไม่รับดำเนินคดีให้อีก แต่ใจเย็น ๆ ก่อน เพราะเรา…</p>
        <li style="font-weight: bold;">แจ้งความให้ตำรวจดำเนินคดีทางแพ่งไม่ได้ </li>
        <li style="font-weight: bold;">ตำรวจมีหน้าที่รับผิดชอบคดีอาญา</li>
        <li style="font-weight: bold;">หรือคดีแพ่งเกี่ยวเนื่องคดีอาญาเท่านั้น </li>
        <p>แปลว่าถ้าอยากจะเรียกร้องค่าเสียหายด้วยการแจ้งความกับตำรวจ ความผิดนั้นต้องเกิดจากการทำผิดทางอาญาเท่านั้น ถ้าไม่ใช่ความผิดที่มีโทษทางอาญาตำรวจรับดำเนินคดีให้ไม่ได้นะ</p>
        <h1>คดีเเพ่งมีอายุความยาวนานแค่ไหน</h1>
        <p>ก่อนจะฟ้องคดีแพ่งต้องดูอายุความให้แน่ใจ เพราะแต่ละคดีมีอายุความแตกต่างกันไปแล้วแต่กรณี ถ้าไม่ได้ฟ้องหรือร้องขอภายในเวลาที่กำหนดไว้ ก็จะเสียสิทธิ์ไม่สามารถเรียกร้องอะไรได้อีก ลูกหนี้มีสิทธิปฎิเสธที่จะไม่จ่ายหนี้เพราะขาดอายุความได้ และจะยืดระยะเวลาอายุความออกไปหรือย่นเวลาให้สั้นลงก็ไม่ได้ เพราะกฎหมายกำหนดไว้แล้วเพื่อให้เกิดความเป็นธรรมกับทุกฝ่าย </p>
        <p>เรื่องที่เกิดมานานแล้ว เช่น จ่ายหนี้คืนเพื่อนไปหมดแล้ว แต่ 20 ปีต่อมาเกิดมีปัญหากันเพื่อนเลยไปฟ้องศาลว่ายังไม่จ่ายหนี้คืน แบบนี้ก็จะทำให้ลูกหนี้ต้องลำบากในการหาหรือรักษาหลักฐานเอาไว้นานเกินไป เพราะหลักฐานบางอย่างอาจสูญหายไปหรือเสื่อมสภาพไปตามกาลเวลา ทำให้ยากต่อการพิสูจน์ความจริง จึงมีการกำหนดอายุความคดีแพ่งไว้ในประมวลกฎหมายแพ่งและพาณิชย์</p>
        <p style="font-weight: bold;">1. อายุความ 2 ปี ตามมาตรา 193/34 และมาตรา 193/35 เช่น</p>
        <li>ฟ้องเรียกค่าจ้าง</li>
        <li>ฟ้องเรียกเงินที่พนักงานจ่ายไปก่อนแล้วนายจ้างไม่ยอมจ่ายคืน</li>
        <li>ฟ้องเรียกค่าจ้างออกแบบ เขียนแบบ</li>
        <li>ฟ้องเรียกเงินค่าส่งสินค้า</li>
        <li>ฟ้องเรียกค่าเช่า</li>
        <p style="font-weight: bold;">2. อายุความ 5 ปี ตามมาตรา 193/33 เช่น</p>
        <li>ฟ้องเรียกดอกเบี้ยค้างจ่าย</li>
        <li>ฟ้องให้จ่ายหนี้ที่ผ่อนเป็นงวด</li>
        <li>ฟ้องให้จ่ายค่าผ่อนสินค้า</li>
        <li>ฟ้องเรียกเงินบำนาญ ค่าเลี้ยงดู</li>
        <p style="font-weight: bold;">3. อายุความ 10 ปี  ตามมาตรา 193/30 มาตรา 193/31 และมาตรา193/32 เช่น</p>
        <li>คดีที่ไม่มีกำหนดเรื่องอายุความไว้โดยเฉพาะ</li>
        <li>คดีภาษีย้อนหลัง</li>
        <li>คดีที่ศาลพิพากษาถึงที่สุดหรือมีการประนีประนอมยอมความ</li>
        <h1>คดีเเพ่งฟ้องยังไง ที่ไหน</h1>
        <p>ถ้าต้องการเรียกร้องสิทธิของตัวเอง เราต้องเสนอคดีไปที่ศาลในพื้นที่ที่เกิดเรื่องนั้น ๆ หรือตามที่อยู่ของฝ่ายที่ละเมิดเราแล้วแต่กรณี ถ้าเราไปฟ้องหรือร้องขอต่อศาลที่ไม่มีอำนาจพิจารณาคดีที่เราฟ้องไป ศาลก็จะรับฟ้องไว้ไม่ได้ตามประมวลกฎหมายวิธีพิจารณาความแพ่ง และตามพระธรรมนูญศาลยุติธรรม ทำให้ต้องเสียเวลาไปมาหลายรอบและเสียเงินมากกว่าเดิม โดยคนที่เราจะฟ้องให้เป็นจำเลยได้ต้องเป็นบุคคลธรรมดาหรือนิติบุคคล </p>
        <li>คดีเกี่ยวกับอสังหาริมทรัพย์ ยื่นฟ้องต่อศาลที่อสังหา ฯ นั้นตั้งอยู่ หรือตามที่อยู่ของจำเลย</li>
        <li>คดีเกี่ยวกับหนี้เหนือบุคคล เช่น หนี้เงินกู้ หนี้ค่าจ้าง หนี้บัตรเครดิต ต้องยื่นฟ้องต่อศาลในพื้นที่ที่เกิดเรื่องขึ้น หรือตามที่อยู่ของจำเลย</li>
        <li>คำขอแต่งตั้งผู้จัดการมรดก ยื่นคำร้องขอต่อศาลในพื้นที่ตามที่อยู่ของเจ้ามรดกก่อนตาย</li>
        <p>การฟ้องคดีแพ่ง ทุกคนสามารถฟ้องได้ด้วยตัวเองเนื่องจากไม่มีการกำหนดเอาไว้ว่าต้องมีทนายความถึงจะฟ้องและดำเนินคดีได้ ถ้าสามารถดำเนินคดีเองได้ก็ต่อสู้คดีโดยไม่จำเป็นต้องมีทนายความ  แต่ถ้าเราไม่รู้วิธีดำเนินคดีหรือไม่มั่นใจเรื่องข้อกฎหมายก็อาจตกอยู่ในฐานะเสียเปรียบได้ การขอคำปรึกษา เตรียมพยานหลักฐานให้พร้อมก่อนฟ้องจึงเป็นเรื่องที่ควรทำ เพราะคดีแพ่งเป็นคดีที่ตัดสินแพ้ชนะตามพยานเอกสารและพยานวัตถุเป็นหลัก ส่วนพยานบุคคลจะเป็นพยานที่มีความสำคัญรองลงมา</p>
        <h1>คดีเเพ่งผิดสัญญาต้องฟ้องศาล</h1>
        <p>หลายคนคงเคยเจอคนผิดสัญญา สัญญาแล้วทำไม่ได้ จ่ายหนี้จนจะหมดแล้วไม่จ่ายต่อ รับงานไปทำแล้วทำไม่เสร็จ ซื้อของออนไลน์แล้วแม่ค้าส่งผิด ปรึกษาใครเขาก็บอกเป็นการฉ้อโกง ให้ไปแจ้งความไว้ก่อน แต่พอไปถึงตำรวจกลับบอกว่าเป็นการผิดสัญญาทางแพ่ง ให้จ้างทนายฟ้องศาล เพราะตำรวจทำให้ไม่ได้ </p>
        <p>เรื่องแบบนี้ใคร ๆ ก็พลาดกันได้ ในเมื่อเป็นการผิดสัญญา จึงต้องดำเนินคดีตามแบบคดีแพ่ง ต้องยื่นฟ้องคดีต่อศาลที่มีอำนาจพิจารณาคดีเพื่อให้ได้รับชำระหนี้ หรือค่าเสียหายต่าง ๆ ที่เกิดขึ้น การรวบรวมพยานหลักฐานที่เรามีเพื่อพิสูจน์ความจริงก็เป็นสิ่งสำคัญ และการดำเนินการตามขั้นตอนของกฎหมายเพื่อรักษาประโยชน์ของตัวเองก็เป็นวิธีที่ปลอดภัยที่สุดด้วยนะ</p>
    </div>

    

    <div class="footer-main">
        <p>ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
        <p>รับว่าความทั่วราชอาณาจักร</p>
        <p>Tel : 081-950-5859</p>

        <div class="menu">
            <a href="home">หน้าหลัก</a> |
            <a href="about">ผลงาน</a>
            <!-- <a href="#">บริการ</a> -->
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="contack">ติดต่อเรา</a>
        </div>

        <div class="social-icons">
            <a href="https://www.facebook.com/mr.apisit.siriposop?locale=th_TH"><img src="/img/facebook.jpg" alt="Facebook"></a>
            <a href="https://line.me/ti/p/5mO_CErwea"><img src="/img/line.jpg" alt="Line"></a>
        </div>
    </div>

   <div class="footer">
        <p>&copy; ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
    </div>
</body>
</html>