<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASE</title>
    <link rel="stylesheet" href="/css/case.css">
</head>
<body>
    <div class="page">
        <div class="logo">
            <a href="home"><img src="/img/img4.png" alt="Logo"></a>
            <a href="/"><span>ออกจากระบบ</span></a>
            <!-- <a href="login"><span>เข้าสู่ระบบ</span></a>
            <a href="register"><span>&nbsp;&nbsp; สมัครสมาชิก</span></a> -->
        </div>
        <div class="menu">
            <a href="home">หน้าหลัก</a>
            <a href="about">ผลงาน</a>
            <!-- <a href="#">บริการ</a> -->
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="estimate">ประเมินการบริการ</a>
            <a href="review">รีวิว</a>
            <a href="contack">ติดต่อเรา</a>
            <!-- <a href="#">ค้นหา</a> -->
        </div>
    </div>

    <div class="criminal">
        <h1>คดีอาญาคืออะไร?</h1>
        <p>“จะจับเข้าคุก” เป็นความผิดอาญาที่เวลามีคนทำผิด เช่น ทำร้ายร่างกาย ทำลายทรัพย์สิน ขโมยของไป หรือทำร้ายจิตใจ คนที่โดนทำร้ายไม่ว่าจะเป็นร่างกาย จิตใจ หรืออะไรก็แล้วแต่มักจะบอกว่าจะให้ตำรวจจับเข้าคุก จะพาตำรวจมาลากคอถึงบ้าน แต่คดีอาญาจำเป็นต้องขังคุกทุกกรณีไหม เราต้องทำความรู้จักคดีอาญากันก่อน</p>
    </div>

    <div class="criminal-0">
        <p>คดีอาญา คือ คดีที่ฟ้องร้องกันเพราะมีการทำความผิดทางอาญา หรือที่พูดกันง่ายๆ ว่า ฟ้องร้องเพื่อให้อีกฝ่าย</p>
        <li>ติดคุก</li>
        <li>โดนปรับ</li>
        <li>โดนริบทรัพย์</li>
        <li>ประหารชีวิต</li>
        <p>ซึ่งจะมีความผิดอะไร ต้องรับโทษยังไง ขึ้นอยู่กับความผิดที่ทำและโทษที่กฎหมายกำหนดไว้ตามแต่ละกรณี  เราจะกำหนดโทษให้คนผิดเองไม่ได้นะ หรือจะแกล้งดำเนินคดีเพราะหมั่นไส้ หรือแจ้งความเท็จเพราะไม่พอใจคนอื่นก็ทำไม่ได้ จะดำเนินคดีอาญาใครต้องทำเฉพาะในกรณีที่มีมูลเหตุเท่านั้น เพราะการแกล้งคนอื่นด้วยการใช้สิทธิ์ทางกฎหมาย แจ้งความเท็จให้คนอื่นต้องรับโทษ นอกจากจะเสียเวลาแล้ว คนแจ้งต้องรับโทษด้วยอาญาด้วยนะ</p>
    </div>
    <div class="criminal">
        <h1>คดีอาญามีกี่ประเภท</h1>
        <p>คดีอาญาจะถูกแบ่งออกเป็น ความผิดยอมความไม่ได้หรืออาญาแผ่นดิน และความผิดที่ยอมความได้หรือความผิดต่อส่วนตัว  คุณคงนึกภาพออกแล้วแต่เพื่อให้เข้าใจมากยิ่งขึ้น เรามาดูความหมายเพิ่มเติมกัน</p>
        <p style="font-weight: bold;">1. ความผิดอาญาแผ่นดิน ผู้ถูกกระทำได้รับผลกระทบโดยตรงและมีผลกระทบต่อสังคมโดยรวม</p>
        <p>แปลว่าสังคมก็เสียหายไปด้วย ทำให้รัฐต้องดำเนินคดี ยอมความกันไม่ได้ แม้ไม่มีการแจ้งความตำรวจก็สามารถเข้ามาดำเนินคดีได้ และอัยการสั่งฟ้องได้โดยไม่มีต้องมีผู้เสียหายร้องทุกข์ เช่น</p>
        <li>ความผิดฐานฆ่าคนตาย</li>
        <li>ชิงทรัพย์</li>
        <li>ปล้นทรัพย์</li>
        <li>ประมาทเป็นเหตุให้ผู้อื่นถึงแก่ความตาย</li>
        <li>บุกรุกในเวลากลางคืนหรือมีอาวุธติดตัวมาขู่</li>
        <li>ฉ้อโกงประชาชน</li>
        <li>ลักทรัพย์</li>
        <p style="font-weight: bold;">2. ความผิดต่อส่วนตัว ผู้ถูกกระทำได้รับผลกระทบโดยตรงแต่ไม่มีผลกับสังคมโดยรวม</p>
        <p>ทำให้ถ้าจะเอาเรื่องต้องแจ้งความดำเนินคดีเอง หรือฟ้องศาลเพื่อดำเนินคดีเอง เพราะคนอื่นจะทำแทนไม่ได้ ตำรวจจะเข้าไปดำเนินคดีเลยไม่ได้ เป็นความผิดที่ยอมความกันได้ พอยอมความแล้วการดำเนินคดีก็จะสิ้นสุดลง เช่น</p>
        <li>หมิ่นประมาท</li>
        <li>ทำให้เสียทรัพย์</li>
        <li>ฉ้อโกง</li>
        <li>ยักยอกทรัพย์</li>
        <h1>คดีอาญาใครมีส่วนเกี่ยวข้อง</h1>
        <p>เมื่อเราไปแจ้งความดำเนินคดีอาญา จะมีบุคคลหลายส่วนเข้ามาเกี่ยวข้อง ทั้งตัวเราเองที่เป็นคนถูกกระทำ คนที่ทำคนอื่น พนักงานเจ้าหน้าที่ เพื่อรวบรวมพยานหลักฐาน พิสูจน์ สืบความเป็นมา วิเคราะห์ ตัดสินใจว่าแต่ละกรณีมีความผิดข้อหาอะไร แล้วฟ้องคดีต่อศาลที่มีอำนาจพิจารณาคดี</p>
        <p>1.ผู้เสียหาย คือ ผู้ที่ถูกกระทำ ได้รับความเสียหายจากการทำผิดของคนอื่นในทางอาญา รวมทั้งคนอื่นที่มีอำนาจจัดการแทน เช่น ผู้แทนนิติบุคคล ผู้แทนโดยชอบธรรมของผู้เยาว์ เป็นต้น</p>
        <p>2.ผู้ต้องหา คือ ผู้ที่ถูกกล่าวหาว่าทำความผิดแต่ยังไม่ได้ถูกฟ้องต่อศาล ยังอยู่ในชั้นสอบสวน</p>
        <p>3.จำเลย  จะเป็นก็ต่อเมื่อถูกฟ้องต่อศาลแล้วโดยข้อหาว่าทำความผิด</p>
        <p>4.พนักงานอัยการ คือ ผู้มีหน้าที่ฟ้องผู้ต้องหาต่อศาล</p>
        <p>5.พนักงานสอบสวน คือ เจ้าพนักงานที่กฎหมายกำหนดให้มีอำนาจ และหน้าที่ในการสอบสวน เช่น ตำรวจที่มียศตั้งแต่ชั้นนายร้อยตำรวจตรีหรือเทียบเท่านายร้อยตำรวจตรีขึ้นไป หรือที่เรียกกันว่าตำรวจสอบสวนนั่นเอง</p>
        <p>ในกรณีที่อัยการเป็นคนฟ้องศาล ตามประมวลกฎหมายวิธีพิจารณาความอาญา มาตรา 120 และมาตรา 121 กําหนดเงื่อนไขไว้ว่า ต้องสอบสวนในความผิดน้ันก่อน และคนที่มีอำนาจสอบสวนก็คือพนักงานสอบสวน</p>
        <p>ถ้าเป็นความผิดอันยอมความได้ ตำรวจจะสอบสวนได้ก็ต่อเมื่อมีการแจ้งความโดยผู้เสียหายเท่านั้น ดังนั้น ในคดีความผิดอันยอมความได้อัยการจะเป็นผู้ฟ้องคดีได้ก็ต่อเมื่อผู้เสียหายเข้าแจ้งความร้องทุกข์แล้ว</p>
        <h1>คดีอาญามีโทษ5สถาน</h1>
        <p style="font-weight: bold;">โทษทางอาญามีทั้ง ประหารชีวิต  จำคุก  กักขัง  ปรับ  และริบทรัพย์สิน หนักเบาตามความผิดที่ทำ บางฐานความผิดอาจต้องรับโทษทั้งจำทั้งปรับเลยก็ได้</p>
        <p>1.โทษประหารชีวิต</p>
        <p>2.โทษจำคุก จำเลยจะถูกขังในเรือนจำ วันแรกที่เข้าไปในคุกจะถูกนับเป็น 1 วันเต็ม ไม่จำเป็นต้องครบ 24 ชม.  ถ้ากำหนดระยะจำคุกเป็นเดือนก็นับ 30 วันเต็ม เป็น 1 เดือน ถ้ากำหนดเป็นปี ต้องคำนวณปีปฏิทิน</p>
        <p>3.โทษกักขัง จำเลยจะถูกกักขังไว้ในสถานที่กักขังที่ไม่ใช่เรือนจำ สถานีตำรวจ หรือสถานที่ควบคุมผู้ต้องหาของพนักงานสอบสวน</p>
        <p>4.โทษปรับ  จำเลยต้องชำระเงินตามจำนวนที่ศาลสั่ง ถ้าไม่จ่ายภายใน 30 วันนับแต่วันที่ศาลมีคำพิพากษา อาจถูกยึดทรัพย์สินใช้ค่าปรับ หรือถูกกักขังแทนค่าปรับ แต่ถ้าศาลมีเหตุสงสัยว่าจำเลยจะไม่จ่ายค่าปรับ ศาลอาจสั่งให้กักขังจำเลยแทนค่าปรับไปก่อนก็ได้ ถืออัตรา 500 บาทต่อหนึ่งวัน และหักวันขังในวันที่ถูกควบคุมตัวมาก่อนด้วย ไม่ว่าจะเป็นชั้นสอบสวนหรือชั้นศาล </p>
        <p>5.โทษริบทรัพย์ จะริบทรัพย์ที่ใช้ หรือมีไว้เพื่อใช้ทำความผิด หรือเป็นทรัพย์ที่ได้มาโดยการทำความผิด แต่ถ้าเป็นทรัพย์สินของคนอื่นที่ไม่ได้รู้เห็นเป็นใจด้วย เจ้าของสามารถยื่นคำร้องขอต่อศาลได้นะ</p>
        <h1>คดีอาญาอายุความ</h1>
        <p>อายุความของคดีอาญามีข้อแตกต่างกันเล็กน้อย ระหว่างคดีอันยอมความได้และคดีอันยอมความไม่ได้</p>
        <p style="font-weight: bold;">1. คดีที่ยอมความได้ต้องแจ้งความดำเนินคดีภายใน 3 เดือน หรือฟ้องศาลภายใน 3 เดือนนับแต่วันที่รู้เรื่องความผิดและรู้ตัวคนทำผิด ตามประมวลกฎหมายอาญามาตรา 96</p>
        <p>และสำหรับการฟ้องศาลเองไม่จำเป็นต้องแจ้งความก่อนนะ ติดต่อทนายความแล้วไปฟ้องศาลได้เลย แต่ถ้าแจ้งความไว้แล้วแต่ไม่อยากรอ ก็สามารถไปฟ้องคดีต่อศาลเองได้ ซึ่งกรณีที่มีการแจ้งความมาแล้ว จะนับอายุความตามประมวลกฎหมายอาญา มาตรา 95</p>
        <p style="font-weight: bold;">2. กำหนดอายุความความผิดอันยอมความไม่ได้ และความผิดยอมอันความได้ที่เคยแจ้งความมาแล้ว หรือยังไม่รู้เรื่องว่ามีการทำผิด ยังไม่รู้ตัวคนผิด ไว้ตามประมวลกฎหมายอาญา มาตรา 95</p>
        <p>“ในคดีอาญา ถ้ามิได้ฟ้องและได้ตัวผู้กระทำความผิดมายังศาลภายในกำหนดดังต่อไปนี้ นับแต่วันกระทำความผิด เป็นอันขาดอายุความ”</p>
        <p>(1) 20 ปี สำหรับความผิดต้องระวางโทษประหารชีวิต จำคุกตลอดชีวิต หรือจำคุก 20 ปี<br>(2) 15 ปี สำหรับความผิดต้องระวางโทษจำคุกกว่า 7 ปี แต่ยังไม่ถึง 20 ปี<br>(3) 10 ปี สำหรับความผิดต้องระวางโทษจำคุกกว่า 1 ปี ถึง 7 ปี<br>(4) 5 ปี สำหรับความผิดต้องระวางโทษจำคุกกว่า1 เดือน ถึง 1 ปี<br>(5) 1 ปี สำหรับความผิดต้องระวางโทษจำคุกตั้งแต่ 1 เดือนลงมาหรือต้องระวางโทษอย่างอื่น</p>
        <p style="font-weight: bold;">3.ถ้ามีการฟ้องและได้ตัวคนทำความผิดไปศาลแล้วแต่มีการหลบหนีหรือวิกลจริต</p>
        <p>และศาลสั่งงดการพิจารณาไว้จนเกินกำหนด นับแต่วันที่หลบหนีหรือวันที่ศาลสั่งงดการพิจารณา ให้ถือว่าขาดอายุความเช่นเดียวกัน </p>
        <p style="font-weight: bold;">4. มีการพิพากษาถึงที่สุดแล้วแต่คนผิดหลบหนี ประมวลกฎหมายอาญา มาตรา 98</p>
        <p>ระบุไว้ว่า “เมื่อได้มีคำพิพากษาถึงที่สุดให้ลงโทษผู้ใด ผู้นั้นยังมิได้รับโทษก็ดี ได้รับโทษแต่ยังไม่ครบถ้วนโดยหลบหนีก็ดี ถ้ายังมิได้ตัวผู้นั้นมาเพื่อรับโทษนับแต่วันที่มีคำพิพากษาถึงที่สุด หรือนับแต่วันที่ผู้กระทำผิดหลบหนี แล้วแต่กรณีเกินกำหนดเวลาดังต่อไปนี้ เป็นอันล่วงเลยการลงโทษ จะลงโทษผู้นั้นมิได้” </p>
        <p>(1) 20 ปี สำหรับความผิดต้องระวางโทษประหารชีวิต จำคุกตลอดชีวิต หรือจำคุก 20 ปี<br>(2) 15 ปี สำหรับความผิดต้องระวางโทษจำคุกกว่า 7 ปี แต่ยังไม่ถึง 20 ปี<br>(3) 10 ปี สำหรับความผิดต้องระวางโทษจำคุกกว่า 1 ปี ถึง 7 ปี<br>(4) 5 ปี สำหรับความผิดต้องระวางโทษจำคุกกว่าตั้งแต่ 1 ปีลงมาหรือต้องระวางโทษอย่างอื่น</p>
        <h1>คดีอาญาถูกฉ้อโกงต้องรีบฟ้อง</h1>
        <p>คดีฉ้อโกงเป็นความผิดอาญาที่ตกลงยอมความกันได้ ทันทีที่รู้ว่าถูกโกงและรู้ตัวคนทำจะเป็นการเริ่มนับอายุความทันที ทำให้ต้องรีบฟ้องหรือแจ้งความภายใน 3 เดือน ไม่อย่างนั้นก็จะขาดอายุความ ทำให้เรียกร้องอะไรไม่ได้ คนผิดก็ลอยนวล และอย่าเพิ่งคิดจะประจานคนโกงล่ะ เพราะแทนที่จะได้เอาเรื่องเขา อาจกลายเป็นเราที่ต้องถูกเขาดำเนินคดีหมิ่นประมาท หรือหมิ่นประมาทโดยการโฆษณาแทนได้นะ</p>
        <p>การดำเนินการทางกฎหมายจึงเป็นทางเลือกที่ดีที่สุด ถ้าทรัพย์สินที่ถูกฉ้อโกงไปมีมูลค่าที่สูง หรือมีความเสียหายเกิดขึ้นด้วย การจ้างทนายความฟ้องดำเนินคดีก็เป็นทางเลือกที่ดี เพราะการดำเนินคดีเองจะสามารถเรียกร้องให้คนผิดชดใช้ค่าเสียหายได้ด้วย </p>
        <p>แต่ก่อนฟ้องใครต้องดูให้แน่ใจว่าเขามีเจตนาที่จะโกงไหม หรือเป็นการผิดสัญญากัน ถ้าเป็นการผิดสัญญาก็ต้องฟ้องเรียกให้ชดใช้ทางแพ่งอย่างเดียวนะ เพราะเขาไม่มีความผิดอาญาจะฟ้องเพื่อให้รับโทษทางอาญาไม่ได้ </p>
        <p>ดังนั้นการปรึกษา ขอคำแนะนำจากทนายความให้ช่วยดูว่าจะสามารถดำเนินคดีอะไรได้บ้าง ก็ถือเป็นทางเลือกที่ดี เพราะนอกจากจะดำเนินคดีได้ถูกต้องแล้ว ทนายความจะสามารถรักษาผลประโยชน์สูงสุดให้เราได้ด้วย</p>
    </div>

    <div class="footer-main">
        <p>ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
        <p>รับว่าความทั่วราชอาณาจักร</p>
        <p>Tel : 081-950-5859</p>

        <div class="menu">
            <a href="home">หน้าหลัก</a> |
            <a href="about">ผลงาน</a>
            <!-- <a href="#">บริการ</a> -->
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="contack">ติดต่อเรา</a>
        </div>

        <div class="social-icons">
            <a href="https://www.facebook.com/mr.apisit.siriposop?locale=th_TH"><img src="/img/facebook.jpg" alt="Facebook"></a>
            <a href="https://line.me/ti/p/5mO_CErwea"><img src="/img/line.jpg" alt="Line"></a>
        </div>
    </div>

   <div class="footer">
        <p>&copy; ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
    </div>
</body>
</html>