<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body background="/img/blackgroud.PNG">
    <div class="login">
        <img src="/img/img4.png" alt="User Icon">
        <h2>ลงชื่อเข้าใช้งาน</h2>
        <form action="/register2" method="post">
            <div class="input">
                <input type="text"  name="username" placeholder="บัญชีผู้ใช้" required>
            </div>
            <input type="password"  name="password" placeholder="รหัสผ่าน" required>
            <!-- <i class="eye" id="eye-icon" style="display: none;"></i> -->
            <button type="submit">เข้าสู่ระบบ</button>
            <!-- <a href="Webproject.html">เข้าสู่ระบบ</a> -->
        </form>
        <a href="/register">ลงทะเบียน</a>
    </div>
</body>
</html>
