<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stylish 8-Column Table</title>
    <link rel="stylesheet" href="/css/review.css">
    <script src="/js/review.js"></script>
</head>
<body>
    <div class="page">
        <div class="logo">
            <a href="home"><img src="/img/img4.png" alt="Logo"></a>
            <a href="/"><span>ออกจากระบบ</span></a>
            <!-- <a href="login"><span>เข้าสู่ระบบ</span></a>
            <a href="register"><span>&nbsp;&nbsp; สมัครสมาชิก</span></a> -->
        </div>
        <div class="menu">
            <a href="home">หน้าหลัก</a>
            <a href="about">ผลงาน</a>
            <!-- <a href="#">บริการ</a> -->
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="estimate">ประเมินการบริการ</a>
            <a href="review">รีวิว</a>
            <a href="contack">ติดต่อเรา</a>
            <!-- <a href="#">ค้นหา</a> -->
        </div>
    </div>
    <table border="1">
        <thead>
            <tr>
                <th>#</th>
                <th>คะเเนน(เต็ม5)</th>
                <th>ทนายมีความเชี่ยวชาญและให้คำแนะนำเข้าใจง่ายหรือไม่?</th>
                <th>ทนายให้ข้อมูลที่ถูกต้องและเป็นประโยชน์หรือไม่?</th>
                <th>ทนายมีความตรงต่อเวลาและความรับผิดชอบหรือไม่?</th>
                <th>ความสามารถในการวิเคราะห์คดีและวางกลยุทธ์ทางกฎหมาย</th>
                <th>อัตราค่าบริการและความคุ้มค่า</th>
                <th>ข้อคิดเห็นเพิ่มเติม</th>
            </tr>
        </thead>
        <tbody id="table-today">
           
        </tbody>
    </table>

    <div class="footer-main">
        <p>ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
        <p>รับว่าความทั่วราชอาณาจักร</p>
        <p>Tel : 081-950-5859</p>

        <div class="menu">
            <a href="home">หน้าหลัก</a> |
            <a href="about">ผลงาน</a>
            <!-- <a href="#">บริการ</a> -->
            <a href="article">บทความ</a>
            <!-- <a href="#">แบบฟอร์ม</a> -->
            <a href="contack">ติดต่อเรา</a>
        </div>

        <div class="social-icons">
            <a href="https://www.facebook.com/mr.apisit.siriposop?locale=th_TH"><img src="/img/facebook.jpg" alt="Facebook"></a>
            <a href="https://line.me/ti/p/5mO_CErwea"><img src="/img/line.jpg" alt="Line"></a>
        </div>
    </div>

   <div class="footer">
        <p>&copy; ทนายอภิสิทธิ์ ศิริโพธิ์สพ</p>
    </div>
</body>
</html>
