body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.page {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
}

.page a{
    color: aliceblue;
}

.page a:hover{
    color: yellow;
}

.page .logo {
    display: flex;
    align-items: center;
}

.page .logo img {
    height: 50px;
    margin-right: 10px;
}

.page .menu {
    display: flex;
    gap: 20px;
}

.page .menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.page .menu a:hover {
    color: yellow;
}



/* .layout{
    position: absolute;
    top: 10%;
} */

#sticky1, #sticky2, #sticky3, #sticky4{
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: 50px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    margin-right: 30px;
    font-size: 50px;
}

/* #sticky1{
    background-color: blueviolet;
    box-shadow: 5px 10px 5px rgb(103, 103, 151);
} */

#sticky2{
    background: url(/img/performane.jpg);
    background-size: 500px;
    box-shadow: 5px 10px 5px rgb(103, 103, 151);    
}

#sticky3{
    background: url(/img/7.jpg);
    background-size: 500px;
    box-shadow: 5px 10px 5px rgb(103, 103, 151);
}

#sticky4{
    background: url(/img/9.jpg);
    background-size: 500px;
    box-shadow: 5px 10px 5px rgb(103, 103, 151);
}

/* #sticky2 a a:hover{
    color: yellow;
} */



/* #sticky5, #sticky6, #sticky7{
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: 50px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    margin-right: 30px;
    
}

#sticky5{
    background-color: blueviolet;
    box-shadow: 5px 10px 5px rgb(103, 103, 151);
    
}

#sticky6{
    background-color: blueviolet;
    box-shadow: 5px 10px 5px rgb(103, 103, 151);
}

#sticky7{
    background-color: blueviolet;
    box-shadow: 5px 10px 5px rgb(103, 103, 151);
} */
.footer-main {
    background-color:#000033;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
}

.footer-main p {
    margin: 5px 0;
}

.footer-main .menu {
    margin-top: 10px;
}

.footer-main .menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.footer-main .menu a:hover {
    color: #fbc02d;
}


.footer-main .social-icons {
    margin-top: 20px;
}

.footer-main .social-icons a {
    display: inline-block;
    margin: 0 5px;
}

.footer-main .social-icons img {
    width: 30px;
    height: 30px;
}

/*footer*/

.footer{
    background: #000;
    color: aliceblue;
    padding: 10px;
    text-align: center;
    /* position: flex; */
    bottom: 0;
    /* width: 100%; */
}

main{
    background-color: grey;
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.lawlayout {
    padding: 5px;
    margin: top 5px;
}
  
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    padding: 5px;
    letter-spacing: 2px;
}
  
.cards {
    display: flex;
    justify-content: center; 
    gap: 100px; 
}
  
.card {
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: relative;
    text-align: center;
}
  
.card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
  
.caption {
    background-color: #444;
    color: orange;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.caption a{
    color: #fbc02d;
}
  
@media  screen and (max-width: 768){
    .col{
        flex-basis: 100%;
        padding: 0px 50px;
    }
} 