* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    padding: 20px;
    text-align: center;
}

.login img {
    width: 80px;
    margin-bottom: 10px;
}

.login h2 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}

.login input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login input:focus {
    border-color: #f39c12;
    outline: none;
}

/* #eye{
    display: none;
} */

.login button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #f39c12, #f1c40f);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.login button a{
    color: black;
    text-align: center;
    font-size: 16px;
    padding: 0px 0px;
    width: 100%;
    margin: 0;
}

.login button :hover {
    background: linear-gradient(to right, #e67e22, #f39c12);
}

.login a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #3498db;
    font-size: 14px;
}

.login a:hover {
    text-decoration: underline;
}

/* .error-icon {
    position: absolute;
    right: 15px;
    top: 60px;
    color: red;
    font-size: 16px;
} */

.input {
    position: relative;
}

/* .register {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.register a {
    color: #5b9bd5;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
} */

@media  screen and (max-width: 768){
    .col{
        flex-basis: 100%;
        padding: 0px 50px;
    }
} 